<div class="panel panel-default">
    <div class="panel-heading">
        <span class="user_management">新增账户</span>
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <form class="form-horizontal" style="font-size: 12px">
                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-3 col-lg-1 control-label">用户名</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="vm.addUserParams.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-3 col-lg-1 control-label">用户类型</label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="vm.addUserParams.roleID">
                            <option value="172">超级管理员</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-3 col-lg-1 control-label">密码</label>
                    <div class="col-sm-4">
                        <input type="password" ng-model="vm.addUserParams.pwd" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-offset-3 col-lg-1 control-label"></label>
                    <div class="col-sm-4">
                        <button
                                ng-disabled="!vm.addUserParams.pwd||!vm.addUserParams.name||!vm.addUserParams.roleID"
                                type="button" class="btn btn-success mg-top-50" ng-click="vm.addUser()">保存
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>