    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal ">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-lg-4 col-sm-6 form-group">
                            <label class="col-sm-3 control-label">
                                角色
                            </label>
                            <div class="col-sm-9 ">
                                <select class="form-control"  ng-model="roleID"
                                        ng-click="vm.clickSelect()" ng-options="x for x in vm.roleID">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 form-group">
                            <label class="col-sm-3 control-label">
                                用户名
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row pd-bottom-2">
                        <div class="col-md-4 pull-right text-right">
                            <div params="searchParams" class="ng-isolate-scope">
                                <button type="button" class="btn btn-danger" ng-click="vm.clear()">清空</button>
                                <button type="button" class="btn btn-success" ng-click="vm.search()">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="verticalBlock">用户列表</span>
            <span class="pull-right pointer" ui-sref="backStage.moduleManage.accountManage">新增+</span>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <table class="table table-bordered">
                    <thead>
                    <th>ID</th>
                    <th>登录名</th>
                    <th>角色</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>更新人</th>
                    <th>更新时间</th>
                    <th>操作</th>
                    </thead>
                    <tbody>

                    <tr ng-repeat="x in vm.ajax">
                        <td>{{x.id}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.roleID}}</td>
                        <td>{{x.createBy}}</td>
                        <td>{{x.createAt|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{x.updateBy}}</td>
                        <td>{{x.updateAt|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>
                            <button class="btn btn-warning btn-xs" ui-sref="backStage.moduleManage.compiler({id:x.id})">编辑</button>
                            <button class="btn btn-danger btn-xs" ng-click="vm.delete(x.id)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="its col-xs-11 pull-right">
                    <uib-pagination total-items="vm.total" ng-model="vm.currentPage" max-size="5"
                                    items-per-page="vm.size"
                                    first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页"
                                    boundary-links="true" boundary-link-numbers="true"
                                    ng-click="vm.pageGo(vm.currentPage)"></uib-pagination>
                </div>
            </div>
        </div>
    </div>