<div class="panel panel-default">
    <div class="panel-heading">
        <span class="user_management">I 查看</span>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  disabled ng-model="vm.list.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label">发送人群</label>
                        <div class="col-sm-10">
                            <select class="form-control"
                                   ng-options="c.value as c.txt for c in vm.type"
                                    ng-model="vm.list.grade" >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label">消息类型</label>
                        <div class="col-sm-10">
                            <select class="form-control"
                                    ng-options="c.value as c.txt for c in vm.sendStatus"
                                    ng-model="vm.list.type" >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label">发送时间</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   placeholder="{{self.sendtime | date:'yyyy-MM-dd HH:mm:ss'}}"
                                   moment-picker="ctrl.second.stringDate"
                                   locale="zh-cn"
                                   format="YYYY-MM-DD HH:mm"
                                   min-view="mouth"
                                   min-date='vm.MinDate'
                                   readonly="readonly"
                                   ng-model="vm.list.sendtime"
                                   ng-disabled="vm.time"
                                   ng-model-options="{ updateOn:'blur'}">

                        </div>
                        </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label" >正文</label>
                        <div class="col-sm-10">
                            <div create-editoer-instance ng-model="params.content"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label" >第三方通知</label>
                        <div class="col-sm-10">
                            <input type="checkbox" style="margin-top: 10px">同步
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label"></label>
                        <div class="col-sm-10">
                            <label type="button" class="btn btn-success mg-top-50" ng-click="vm.send()">确定</label>
                            <label type="button" class="btn btn-defult mg-top-50 mg-left-30 border">
                                返回
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>