<div class="panel pael-default">
    <div class="panel-body" style="border: 1px solid #f5f5f5;border-bottom: none">
        <from class="form-horizontal">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 form-group">
                        <label class="col-sm-3 control-label" >
                            标题
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"  ng-model="vm.$stateParams.title">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 form-group">
                        <label class="col-sm-3 control-label">
                            发送人群
                        </label>
                        <div class="col-sm-9 ">
                            <select class="form-control"
                                    ng-model="vm.$stateParams.gradeId" ng-options="c.value as c.txt for c in vm.grades">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 form-group">
                        <label class="col-sm-3 control-label">
                            消息类型
                        </label>
                        <div class="col-sm-9 ">
                            <select class="form-control"
                                    ng-model="vm.$stateParams.type" ng-options="c.value as c.txt for c in vm.sendStatus">
                            </select>
                        </div>
                    </div>
                    <div class="row pd-bottom-2">
                        <div class="col-md-4 pull-right text-right">
                            <div params="vm.searchParams" class="ng-isolate-scope">
                                <button type="button" class="btn btn-danger" ng-click="vm.clear()">清空</button>
                                <button type="button" class="btn btn-success" ng-click="vm.search()">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </from>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="user_management">I 消息模板</span>
        <span class="pull-right pointer" ui-sref="backStage.serviceManage.newsManage">新增+</span>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                <th>序号</th>
                <th>标题</th>
                <th>发送人群</th>
                <th>消息类型</th>
                <th>发送时间</th>
                <th>操作</th>
                </thead>
                <tbody>
                <tr ng-repeat="self in vm.ajaxData">
                    <td>{{$index+1}}</td>
                    <td>{{self.title}}</td>
                    <td>{{self.gradeId | grade}}</td>
                    <td>{{self.type | service_type}}</td>
                    <td>{{self.sendTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                        <button class="btn btn-warning btn-xs " ng-click="vm.publish()" ng-disabled="self.type=='2'" ng-click="vm.grounding(self.id,self.status)">{{self.type==1?'发布':'已发布'}}</button>
                        <button class="btn btn-primary btn-xs"  ui-sref="backStage.serviceManage.look({id:self.id})">查看</button>
                        <button class="btn btn-danger btn-xs"  ng-click="vm.delete(self.id)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="its col-xs-11 pull-right">
                <uib-pagination total-items="vm.total" ng-model="vm.currentPage" max-size="5"
                                items-per-page="vm.size"
                                first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页"
                                boundary-links="true" boundary-link-numbers="true"
                                ng-click="vm.pageGo(vm.currentPage)"></uib-pagination>
            </div>
        </div>
    </div>
</div>