<style>
    body{
        background: #ffffff;
    }
</style>
<div class="concerning">
    <div class="anenst">
        <img src="image/mine/logoImg.png" alt="">
        <h3>玩转学习</h3>
        <p>版本号：1.0.0</p>
    </div>
    <div class="anenstWrap">
        <p>客服电话：<span>025-83190000</span></p>
        <p>公 众 号：<span>huijiaxuexi</span></p>
        <p>邮 &nbsp;箱：<span>kefu@dounixue.net</span></p>
    </div>
    <div class="footAnenst">
        <p>玩转学习 &nbsp;版权所有</p>
        <p style="margin-left: -5vw">Copyright©2017&nbsp;玩转学习</p>
    </div>
</div>