<form name="myForm" novalidate="" style="position: absolute; width: 100%" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
    <div class="login-center top-edge top">
        <div class="top-handset">
            <img src="image/app/password.png" height="35" width="26">
            <input type="password" class="push-button ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern"
                   name="phone" required="" ng-model="vm.data.oldPassword" placeholder="请输入旧密码">
        </div>
        <div class="bottom-password">
            <img src="image/app/password.png" height="35" width="26">
            <input type="password" class="push-button ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required
            ng-valid-pattern" name="pwd" ng-model="vm.data.newPassword" required="" placeholder="请输入新密码">
        </div>
        <div class="bottom-password">
            <img src="image/app/password.png" height="35" width="26">
            <input type="password" class="push-button ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required
            ng-valid-pattern" name="pwd" ng-model="vm.data.newPassword" required="" placeholder="请确认新密码" >
        </div>
    </div>
    <div class="affirm">
        <button type="button" class="btn btn-default" ng-click="vm.send()" style="outline: none;color: #fff;">确认</button>
    </div>
</form>