<form name="myForm" novalidate="" style="position: absolute; width: 100%" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern">
    <div class="login-center top-edge top">
        <div class="top-handset">
            <img src="image/app/password.png" height="35" width="26">
            <input type="password" class="push-button ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern"
                   name="phone" required="" ng-model="phone" placeholder="请输入旧密码" ng-pattern="/(^$)|^(((\+86)|(86))?1[34578]\d{9})$/">
        </div>
        <div class="bottom-password">
            <img src="image/app/password.png" height="35" width="26">
            <input id="ds_name" type="password" class="push-button ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required
            ng-valid-pattern" name="pwd" ng-model="pwd" required="" placeholder="请输入登录密码" ng-pattern="/\w{6,16}/">
        </div>
        <div class="bottom-password">
            <img src="image/app/password.png" height="35" width="26">
            <input id="" type="password" class="push-button ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required
            ng-valid-pattern" name="pwd" ng-model="pwd" required="" placeholder="请输入登录密码" ng-pattern="/\w{6,16}/">
        </div>
    </div>
    <div class="affirm">
        <button type="button" class="btn btn-default" ng-click="" style="outline: none;color: #fff;">确认</button>
    </div>
</form>