    <div class="courseClear">
        <span class="courseDown courseDown_right" ng-click="lessonSearch()">课程</span>
        <span class="courseDown" ng-click="hourSearch()">课时</span>
    </div>
    <div class="substance">
        <div class="substanceList">
            <div class="courseList" ng-show="lessonIsShow">
                <h4>第一课&nbsp;&nbsp;龟兔赛跑</h4>
                <p>龟兔赛跑，是一则耐人寻味的寓言故事，故事中塑造了一只骄傲的兔子和一只坚持不懈的....</p>

            </div>
            <div class="courseList" ng-show="lessonIsShow">

            </div>
        </div>
        <div class="courseList" ng-show="hourIsShow">

        </div>
    </div>