<style>
    body{
        background: #ffffff;
    }
    .feedbackWrap {
        background: #fff;
        padding-top: 17vw;
    }

    .feedback_main {
        width: 94%;
        background: #999999;
        margin-left: 3%;
    }

    textarea.form-control {
        background: #f1f1f1;
        border: none;
        height: 60vw;
    }
</style>
<div class="feedbackWrap">
    <div class="feedback_main">
        <textarea class="form-control" rows="3" ng-disabled=""></textarea>
    </div>
    <div class="affirm">
        <button type="button" class="btn btn-default" ng-click="" style="outline: none;color: #fff;">提交</button>
    </div>
</div>

