<style>
    body{
        margin-top: 13vw;
    }
    .affirm h3{
        font-size: 3.7vw;
        margin-left: 2vw;
    }
    .affirm p{
        font-size: 3.7vw;
        color: #999999;
    }
    .dataEmail{
        background-color: #f8f8f8;
        height: 12.1vw;
        font-size: 3.9vw;
        color: #333;
        padding-left: 4.2vw;
        width: 100%;
        border: 0;
        outline: none;
    }
    .dataChangeEmail{
        width: 3.9vw;
        position: absolute;
        top: 50%;
        right: 3vw;
        transform: translate(0,-50%);
        z-index: 10;
    }
</style>
<div class="affirm">
    <h3>请确认您的收件邮箱地址</h3>
    <p>（试卷会以邮件的形式发送到您的邮箱）</p>
    <div class="data_main" style="position: relative">
        <input type="email" class="dataEmail ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-email" ng-model="vm.$stateParams.email">
        <img src="image/app/changeEmail.png" alt="" class="dataChangeEmail" ng-click="vm.dataPay_changeEmail()">
    </div>
    <div class="affirm_btn" style="position: absolute;bottom: 5vw;width: 100%" ui-sref="app.Mail">
        <button  ng-click="vm.send()" type="button" class="btn btn-default" style="outline: none;color: #fff;margin-left: 2vw">发送</button>
    </div>
</div>
