<style>
    html {
        background: #f0f4f7;
    }

    .material h2 {
        font-size: 10vw;
    }

    .material .materialMain {
        border: 1px solid #000000;
    }

    .material h2 {
        font-size: 4.3vw;
    }

    .material h3 {
        font-size: 4.3vw;
        color: #000;
        font-weight: bold;
        margin-bottom: 4vw;
    }

    .material .material_info {
        border: 2px solid #dbdee1;
        border-bottom: 1px solid #a8a9ac;
        color: #999;
        font-size: 3.7vw;
        background: #fff;
        border-radius: 7px;
        padding: 2vw 5vw;
    }
</style>
<div class="wear">
    <div class="material">
        <div class="material_info">
            <h3>购买详情:</h3>
            <p>购买时间：{{vm.user.payTime | date:'yyyy-MM-dd'}}</p>
            <p>邮箱地址：{{vm.user.email}}</p>
            <p>支付方式：{{vm.user.payType|payType}}</p>
            <div style="border-top: 1px solid #ececec;padding-top: 3vw">
                支付金额
                <span class="pull-right" style="display: inline-block;color: red;"><span
                        style="font-size: 3vw;">￥</span>{{vm.user.money}}</span>
            </div>
        </div>
        <h2 style="margin-top: 7vw;margin-bottom: 2vw">资料所属</h2>
        <div class="overcoat">
            <div class="main" style="width: 95.5vw;margin: 0!important;border: 1px solid #dbdee1">
                <img src="{{vm.params.picture}}">
                <img src="image/mine/craze.png" class="image"/>
                <h4 style="line-height: 13vw">{{vm.params.bookName}}</h4>
                <h5>
                <p style="font-size: 4vw;margin-top: -3vw">
                    出版社：{{vm.params.version}}
                </p>
                    <p class="statement">
                   资料详情：{{vm.params.version}}
                </p>
                </h5>
                <!--<div class="btnDelet" >删除</div>-->
            </div>
        </div>
        <div class="affirm" style="position: absolute;bottom: -43vw;width: 100%;" ui-sref="app.Mail">
            <button type="button" class="btn btn-default" ng-click="" style="outline: none;color: #fff;margin-bottom: 3vw">重新发送</button>
        </div>
    </div>
</div>