<div class="enwrap">
    <div class="package packFirst">
        <h3>怎么学好小学英语，你知道吗？</h3>
        <p>17-12-24</p>
        <div class="packMain" ui-sref="app.particulars">
            <a><img src="image/mine/right.png" alt="" class="pull-right">立即查看</a>
        </div>
    </div>
    <div class="package">
        <h3>怎么学好小学英语，你知道吗？</h3>
        <p>17-12-24</p>
        <div class="packMain" ui-sref="app.particulars">
            <a><img src="image/mine/right.png" alt="" class="pull-right">立即查看</a>
        </div>
    </div>
    <div class="package">
        <h3>怎么学好小学英语，你知道吗？</h3>
        <p>17-12-24</p>
        <div class="packMain" ui-sref="app.particulars">
            <a><img src="image/mine/right.png" alt="" class="pull-right">立即查看</a>
        </div>
    </div>
    <div class="package">
        <h3>怎么学好小学英语，你知道吗？</h3>
        <p>17-12-24</p>
        <div class="packMain" ui-sref="app.particulars">
            <a><img src="image/mine/right.png" alt="" class="pull-right">立即查看</a>
        </div>
    </div>
    <div class="package">
        <h3>怎么学好小学英语，你知道吗？</h3>
        <p>17-12-24</p>
        <div class="packMain" ui-sref="app.particulars">
            <a><img src="image/mine/right.png" alt="" class="pull-right">立即查看</a>
        </div>
    </div>
    <div class="package">
        <h3>怎么学好小学英语，你知道吗？</h3>
        <p>17-12-24</p>
        <div class="packMain" ui-sref="app.particulars">
            <a><img src="image/mine/right.png" alt="" class="pull-right">立即查看</a>
        </div>
    </div>
</div>