<div class="wear">
    <div class="overcoat">
        <div class="main">
            <img src="image/seek/background.png">
            <img src="image/mine/craze.png" class="image"/>
            <h4>和倍差问题？</h4>
            <h5>
                <span>
                    第<span class="number">10</span>/20节
                </span>
                <span class="statement">
                   1056人已学|A级
                </span>
            </h5>
                <input type="checkbox" name="ck" value="0" />
            <span style="display: inline;margin-left: 6vw">40% 完成</span>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: 40%;">
                    <span class="sr-only">40% 完成</span>
                </div>
            </div>
            <div class="btn" >删除</div>
        </div>
    </div>
    <div class="overcoat">
        <div class="main">
            <img src="image/seek/background.png">
            <img src="image/mine/craze.png" class="image"/>
            <h4>和倍差问题？</h4>
            <h5>
                <span>
                    第<span class="number">10</span>/20节
                </span>
                <span class="statement">
                   1056人已学|A级
                </span>
            </h5>
            <input type="checkbox" name="ck" value="1" />
            <span style="display: inline;margin-left: 6vw">40% 完成</span>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: 40%;">
                    <span class="sr-only">40% 完成</span>
                </div>
            </div>
        </div>
    </div>
    <div class="overcoat">
        <div class="main">
            <img src="image/seek/background.png">
            <img src="image/mine/craze.png" class="image"/>
            <h4>和倍差问题？</h4>
            <h5>
                <span>
                    第<span class="number">10</span>/20节
                </span>
                <span class="statement">
                   1056人已学|A级
                </span>
            </h5>
            <input type="checkbox" name="ck" value="2" />
            <span style="display: inline;margin-left: 6vw">40% 完成</span>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: 80%;">
                    <span class="sr-only">40% 完成</span>
                </div>
            </div>
        </div>
    </div>
    <div class="overcoat">
        <div class="main">
            <img src="image/seek/background.png">
            <img src="image/mine/craze.png" class="image"/>
            <h4>和倍差问题？</h4>
            <h5>
                <span>
                    第<span class="number">10</span>/20节
                </span>
                <span class="statement">
                   1056人已学|A级
                </span>
            </h5>
            <input type="checkbox" name="ck" value="3" />
            <span style="display: inline;margin-left: 6vw">40% 完成</span>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: 35%;">
                    <span class="sr-only">40% 完成</span>
                </div>
            </div>
        </div>
    </div>
    <div class="overcoat">
        <div class="main">
            <img src="image/seek/background.png">
            <img src="image/mine/craze.png" class="image"/>
            <h4>和倍差问题？</h4>
            <h5>
                <span>
                    第<span class="number">10</span>/20节
                </span>
                <span class="statement">
                   1056人已学|A级
                </span>
            </h5>
            <input type="checkbox" name="ck" value="4" />
            <span style="display: inline;margin-left: 6vw">40% 完成</span>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: 20%;">
                    <span class="sr-only">40% 完成</span>
                </div>
            </div>
        </div>
    </div>
    <div class="overcoat">
        <div class="main">
            <img src="image/seek/background.png">
            <img src="image/mine/craze.png" class="image"/>
            <h4>和倍差问题？</h4>
            <h5>
                <span>
                    第<span class="number">10</span>/20节
                </span>
                <span class="statement">
                   1056人已学|A级
                </span>
            </h5>
            <input type="checkbox" name="ck" value="5" />
            <span style="display: inline;margin-left: 6vw">40% 完成</span>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: 50%;">
                    <span class="sr-only">40% 完成</span>
                </div>
            </div>
        </div>
    </div>



    <div class="footer">
        <button class="fastener check_all">全选</button>
        <button class="fastener delet">删除(1)</button>
    </div>
</div>