<style>
    .sign-back {
        background: url("../../image/mine/star.png") no-repeat;
        background-size: 100%;
    }

    .popup-content {
        height: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .font {
        font-size: 10px !important;
    }

    .popup-color {
        color: #fdd431;
    }
</style>
<div>
    <div class="popup-content sign-back font"></div>
    <div class="popup-content">
        <div>
            <h4>签到成功</h4>
            <p>获得<span class="popup-color">3</span>个学习星</p>
        </div>
    </div>
</div>