
.course_clear-fix {
    overflow: hidden;
    position: fixed;
    top: 12.9vw;
    z-index: 49;
    background-color: #fff;
}
.course_drop-down {
    float: left;
    height: 11.11vw;
    width: 50vw;
    display: block;
    text-align: center;
    line-height: 0;
    padding: 6vw 0;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.course_dropdown-list {
    position: fixed;
    top: 25.2vw;
    background-color: #fff;
    z-index: 49;
    padding: 3.33vw 0 3.33vw 0;
    width: 100vw;
}
.course_search-list {
    display: inline-block;
    width: 19.72vw;
    height: 8.33vw;
    border: 1px solid #e8e8e8;
    text-align: center;
    line-height: 0;
    padding: 4.16vw 0;
    margin-top: 1.67vw;
    margin-left: 4.224vw;
}
.course_modal-list {
    width: 100vw;
    height: 100vh;
    left: 0;
    position: absolute;
    z-index: 49;
    background-color: #4b4b4b;
    opacity: .5;
    top:100%;
}
.course_main-content {
    margin-top: 28vw;
    margin-bottom: 16vw;
}
.course_content{
    position: relative;
    width: 96vw;
    height: 29.2vw;
    margin: 0 auto 3vw auto;
    border: 1px solid #a8a9ac;
    border-radius: 6px;
    box-shadow: 2px 2px #a8a9ac ;
}
.course_content .course_main-img{
    width: 29.2vw;
    height: 29.2vw;
    float: left;
    margin: 0 3.2vw;
}
.course_content .course_main{
    margin-top: 5vw;
}
.course_content .course_main h4{
    color: #000;
}
.course_content .course_main span{
    font-size: 3.7vw;
    color: #999999;
    display: inline-block;
}
.course_content .course_main .course_recommended {
    position: absolute;
    width: 5vw;
    height: 6vw;
    top: 0;
    right: 4.11vw;
    margin: 0;
}
.course_details_clear-fix {
    position: relative;
    width: 100vw;
    top: 14vw;
    z-index: 49;
    margin-bottom: 16vw;
}
.course_details_main {
    width: 95vw;
    margin: 1.94vw 2.5vw;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 1px #e8e8e8;
}
.course_details_main_top {
    border-bottom: 1px solid #e8e8e8;
    padding: 5vw 0 4.17vw 5vw;
    position: relative;
}
.course_details_main_img {
    width: 17.8vw;
    height: 17.8vw;
    box-sizing: initial;
    padding-right: 3.5vw;
}
.course_details_middle {
    display: inline-block;
    position: absolute;
    top: 5vw;
}
.course_details_title {
    font-size: 4.17vw;
    color: #333;
    margin-bottom: 1vw;
}
.course_details_info {
    display: inline-block;
    margin-right: 8.3vw
}
.course_details_font {
    font-size: 2.78vw;
    color:#666;
}
.course_details_font span {
    font-size:2.78vw;
    color:#03a9f4;
}
.little_fix {
    margin-bottom: 1vw;
}
.course_details_main_bottom {
    padding: 5vw 0 4.17vw 5vw;
    position: relative;
}
.course_details_bottom_title {
    position: absolute;
    color:#333;
    font-size: 2.8vw;
}
.course_details_bottom_content {
    position: relative;
    left: 20vw;
    color:#666;
    font-size: 2.8vw;
    max-width: 60vw;
}
.course_details_float {
    width: 6.7vw;
    float: right;
    text-align: center;
    padding: 0 1.9vw 0 1.9vw;
    height: 20.8vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.course_details_status {
    color: #fff;
    font-size: 2.77vw;
    margin-bottom: 0;
}
.course_details_float div {
    position: relative;
}
.course_details_mission_title {
    padding: 5.5vw 0 0 5vw;
    font-size: 4.2vw;
    color: #333;
    margin-bottom: 1vw;
}
.course_details_mission_img {
    height:3.33vw;
}
.course_details_mission_list {
    font-size: 2.77vw;
    padding-left: 5vw;
    color: #999;
}
.mission_finish {
    background-color: #03a9f4;
}
.mission_studying {
    background-color: #8ec351;
}
.mission_unbegun {
    background-color: #efefef;
}
.course_details_status_unbegun {
    color:#999;
    font-size: 2.77vw;
    margin-bottom: 0;
}
.course_details_modal {
    position: fixed;
    right: 50%;
    top: 20%;
    transform: translate(50%,50%);
    width: 44.5vw;
    height: 37.5vw;
    border: 1px solid #e8e7e8;
    z-index: 100;
    border-radius: 2vw;
    background-color: #fff;
}
.course_details_modal img {
    width: 15vw;
    padding-bottom: 2vw;
    margin: 0 auto;
    display: block;
}
.course_details_modal_collection {
    position: absolute;
    right: 50%;
    transform: translate(50%,30%);
}
.course_details_modal div {
    font-size: 2.77vw;
}
.shady {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.course_details_bottom_left {
    position: absolute;
    left: 12.5vw;
    transform: translate(-50%,0);
}
.course_details_bottom_middle {
    position: absolute;
    left: 37.5vw;
    transform: translate(-50%,0);
}
.course_details_bottom_right {
    position: absolute;
    left: 62.5vw;
    transform: translate(-50%,0);
}
.course_period_top-side {
    margin-top: 12.91vw;
    padding-top: 0.1vw;
}
.course_period_headline {
    background: #ffffff;
    margin: 2.4vw;
    border-radius: 1.5vw;
    box-shadow: 2px 2px 3px 0 #aaaaaa;
}
.course_period_headline img {
    width: 3.3vw;
    height: 3.3vw;
    margin-right: 2vw;
    vertical-align: -0.5vw;
    border: 0;
}
.course_period_lesson {
    height: 13.47vw;
    text-align: center;
    line-height: 13.47vw;
    font-size: 4.16vw;
    color: #000000;
    font-weight: 600;
    border-top-right-radius: 1.5vw;
    border-top-left-radius: 1.5vw;
    border-bottom: 0.1vw solid #e8e8e8;
}
.course_period_dissect {
    height: 63.19vw;
    padding-top: 5.55vw;
}
.course_period_attribute {
    padding-left: 3.33vw;
}
.course_period_dissect span {
    color: #999999;
    margin-left: 8.19vw;
    display: inline-block;
    font-size: 3.3vw;
}

.course_period_attribute h5 {
    color: #03a8f2;
    font-size: 3.3vw;
}
.course_period_substance {
    padding: 0 8.19vw;
    color: #999999;
    font-size: 3.33vw;
    line-height: 6vw;
}
.course_period_base-bottom {
    margin-bottom: 15.37vw;
}
.course_period_task {
    height: 15vw;
    line-height: 15vw;
    font-size: 3.3vw;
    color: #03a8f2;
    padding-left: 3.33vw;
    border-top-right-radius: 1.5vw;
    border-top-left-radius: 1.5vw;
    border-bottom: 0.1vw solid #e8e8e8;
}
.course_period_dissect-task {
    width: 60%;
    height: 8vw;
    line-height: 8vw;
    padding-bottom: 5.5vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 3.3vw;
    color: #333;
    padding-left: 3vw;
    border-left: 1px solid #000;
}
.course_period_dissect-task p {
    display: inline-block;
    width: 3.3vw;
    height: 3.3vw;
    line-height: 3vw;
    text-align: center;
    color: #000000;
    border-radius: 50%;
    border: 0.1vw solid #aaaaaa;
    background: #ffffff;
    position: absolute;
    left: -1.7vw;
}
.course_mission_total {
    position: fixed;
    background-color: #f0f4f7;
    top: 12.9vw;
    width: 100vw;
}
.course_mission_title {
    text-align: center;
    height: 10.6vw;
    font-size: 3.9vw;
    line-height: 0;
    padding-top: 5.3vw;
    background-color: #fff;
}
.course_mission_body {
    margin: 2.2vw;
    background-color: #f0f4f7;
    overflow: scroll;
    height: 78vh;
}
.course_mission_step {
    width: 83vw;
    font-size: 3.3vw;
    color: #333;
    line-height: 3.3vw;
    padding-bottom: 1.98vw;
}
.course_mission_stepCount {
    display: inline-block;
    width: 3.3vw;
    height: 3.3vw;
    font-size: 2.5vw;
    text-align: center;
    color: #000000;
    border-radius: 50%;
    border: 0.1vw solid #aaaaaa;
    background: #ffffff;
    position: absolute;
    left: -1.7vw;
    line-height: 2.9vw;
    top: 0;
}
.course_mission_stepOut {
    position: relative;
    width: 86vw;
    left: 4.5vw;
    margin-right: 2.8vw;
    padding: 0 2.4vw 3.3vw 0;
    border-left: 1px solid transparent;
}
.course_mission_select_last {
    width: 42vw;
    height: 11.1vw;
    margin-left: 2.2vw;
    border: 1px solid #03a9f3;
    outline: none;
    cursor: pointer;
    font-size: 3.9vw;
    background: #fff;
    color: #03a9f3;
    border-radius: 1vw 1vw;
}
.course_mission_select_next {
    width: 42vw;
    height: 11.1vw;
    border: 1px solid #03a9f3;
    outline: none;
    cursor: pointer;
    font-size: 3.9vw;
    position: absolute;
    right: 2.2vw;
    background: #03a9f3;
    color: #fff;
    border-radius: 1vw 1vw;
}
.course_mission_mainbody {
    background-color: #fff;
    padding-top: 3.3vw;
}
.course_mission_fixed {
    margin-bottom: 3.3vw;
    border-bottom: 1px dashed #d9dde0;
    margin-left: 2.8vw;
}
.course_mission_border {
    border-left: 1px solid #eee;
}
.course_mission_lastStep {
    height: 8vw;
    width: 8vw;
    background: url("../../image/app/missionClickAble2.png") no-repeat;
    background-size: cover;
    border: 0;
    outline: 0;
    padding: 0;
    margin-right: 8.4vw;
}
.course_mission_lastStep_fixed {
    background: url("../../image/app/missionClickUnable.png") no-repeat !important;
    background-size: cover !important;
}
.course_mission_nextStep {
    height: 8vw;
    width: 8vw;
    background: url("../../image/app/missionClickAble.png") no-repeat;
    background-size: cover;
    border: 0;
    outline: 0;
    padding: 0;
}
.course_mission_nextStep_fixed {
    background: url("../../image/app/missionClickUnable2.png") no-repeat !important;
    background-size: cover !important;
}
.course_mission_button_box {
    text-align: center;
}
.course_mission_bottom {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 1.1vw 0;
    background: #fff;
}
.course_mission_search-list {
    display: inline-block;
    width: 120vw;
    height: 8.33vw;
    text-align: center;
    line-height: 0;
    padding: 4.16vw 0;
    margin-left: -10vw;
}
.course_mission_clear-fix {
    overflow: hidden;
    top: 12.9vw;
    z-index: 49;
    background-color: #fff;
}
.course_mission_drop-down {
    width: 100vw !important;
}
.course_dropdown-list_fixed {
    padding-top: 0 !important;
}
.periodFinish_mian_body {
    position: relative;
    top: 12.9vw;
}
.periodFinish_orange_back {
    height: 80vh;
    background-color: #f68b3b;
}
.periodFinish_bottom_back {
    height: 55vh;
    background: url("../../image/app/cloud.png") no-repeat transparent;
    background-size: cover;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 0 4.9vw;
}
.periodFinish_getStar {
    width: 100vw;
    height: 76.4vw;
}
.periodFinish_line {
    border-top: 1px solid #dbc9aa;
    width: 67%;
    margin: 0 auto;
}
.periodFinish_line_top {
    position: relative;
    margin-top: 30vw;
}
.periodFinish_youcan {
    text-align: center;
    font-size: 14px;
    line-height: 1;
    padding: 0 20px;
    background-color: #fffee0;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #8c5233;
}
.periodFinish_choose_public {
    height: 17.2vw;
    width: 17.2vw;
    margin: 0 auto;
}
.periodFinish_choose_left {
    background: url("../../image/app/choose.png") 12% 10% no-repeat;
    background-size: cover;
}
.periodFinish_choose_middle {
    background: url("../../image/app/choose.png") 50% 10% no-repeat;
    background-size: cover;
}
.periodFinish_choose_right {
    background: url("../../image/app/choose.png") 88% 10% no-repeat;
    background-size: cover;
}
.periodFinish_choose_button {
    width: 25vw;
    background: #6bc739;
    color: #fff;
}
.periodFinish_choose_div {
    display: flex;
    margin-top: 10vw;
}
.periodFinish_choose {
    margin: 0 2.5vw;
}
.periodFinish_choose_center {
    text-align: center;
    padding: 1vw 0;
    color: #8c5233;
    font-size: 12px;
}
.payResult-body {
    position: relative;
    top: 12.9vw;
}
.payResult_modal {
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 87.5vw;
    height: 118vw;
    border-radius: 5%;
    background-color: #fff;
}
.payResult_sure_img {
    display: block;
    margin: 27vw auto 0;
    height: 15.6vw;
    width: 15.6vw;
}
.payResult_info {
    font-size: 5vw;
    text-align: center;
    line-height: 200%;
}
.payResult_main {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.payResult_content {
    font-size: 3.75vw;
    color: #999999;
}
.payResult_bottom {
    text-align: center;
    margin-top: 44vw;
}
.payResult_bottom button {
    border: #03a8f3 solid 1px;
}
.payResult_turnBack {
    width: 32.8vw;
    height: 10vw;
    margin-right: 2vw;
}
.payResult_nextPeriod {
    width: 32.8vw;
    height: 10vw;
}
.payResult_focus {
    background-color: #03a8f3;
    color :#fff;

}
.payResult_loseFocus {
    background-color: #fff;
    color:#03a8f3;
}