<div class="course_clear-fix">
    <span class="course_drop-down" ng-click="subject_search()">课程</span>
    <span class="course_drop-down" ng-click="class_search()">年级</span>
</div>
<div>
    <ul class="course_dropdown-list" ng-show="subject_isShow">
        <li class="course_search-list">语文</li>
        <li class="course_search-list">数学</li>
        <li class="course_search-list">英语</li>
        <li class="course_search-list">逻辑思维</li>
        <li class="course_search-list">常春藤芽</li>
        <li class="course_modal-list"></li>
    </ul>
    <ul class="course_dropdown-list" ng-show="class_isShow">
        <li class="course_search-list">一年级</li>
        <li class="course_search-list">二年级</li>
        <li class="course_search-list">三年级</li>
        <li class="course_search-list">四年级</li>
        <li class="course_search-list">五年级</li>
        <li class="course_search-list">六年级</li>
        <li class="course_modal-list"></li>
    </ul>
</div>
<div class="course_main-content">
    <div class="course_content" ui-sref="app.courseDetails">
        <img src="image/seek/background.png" class="course_main-img">
        <div class="course_main">
            <h4>和差倍问题</h4>
            <img src="image/app/heat.png" class="course_recommended">
            <span>{{1056}}人已学</span>
            <span>{{'A'}}级</span>
        </div>
    </div>
    <div class="course_content">
        <img src="image/seek/background.png" class="course_main-img">
        <div class="course_main">
            <h4>和差倍问题</h4>
            <img src="image/app/heat.png" class="course_recommended">
            <span>{{1056}}人已学</span>
            <span>{{'A'}}级</span>
        </div>
    </div>
    <div class="course_content">
        <img src="image/seek/background.png" class="course_main-img">
        <div class="course_main">
            <h4>和差倍问题</h4>
            <img src="image/app/heat.png" class="course_recommended">
            <span>{{1056}}人已学</span>
            <span>{{'A'}}级</span>
        </div>
    </div>
    <div class="course_content">
        <img src="image/seek/background.png" class="course_main-img">
        <div class="course_main">
            <h4>和差倍问题</h4>
            <img src="image/app/heat.png" class="course_recommended">
            <span>{{1056}}人已学</span>
            <span>{{'A'}}级</span>
        </div>
    </div>
    <div class="course_content">
        <img src="image/seek/background.png" class="course_main-img">
        <div class="course_main">
            <h4>和差倍问题</h4>
            <img src="image/app/heat.png" class="course_recommended">
            <span>{{1056}}人已学</span>
            <span>{{'A'}}级</span>
        </div>
    </div>
    <div class="course_content">
        <img src="image/seek/background.png" class="course_main-img">
        <div class="course_main">
            <h4>和差倍问题</h4>
            <img src="image/app/heat.png" class="course_recommended">
            <span>{{1056}}人已学</span>
            <span>{{'A'}}级</span>
        </div>
    </div>
    <div class="course_content">
        <img src="image/seek/background.png" class="course_main-img">
        <div class="course_main">
            <h4>和差倍问题</h4>
            <img src="image/app/heat.png" class="course_recommended">
            <span>{{1056}}人已学</span>
            <span>{{'A'}}级</span>
        </div>
    </div>
</div>