<div class="course_details_clear-fix">
    <div class="course_details_main">
        <div class="course_details_main_top">
            <img ng-src="{{vm.courseDetail.Logo}}" class="course_details_main_img">
            <div class="course_details_middle">
                <div class="course_details_title">{{vm.courseDetail.courseName}}</div>
                <div class="course_details_info">
                    <div class="course_details_font little_fix">难&nbsp度:<span>C级</span></div>
                    <div class="course_details_font">资料数:<span>{{vm.courseDetail.dataNumber}}</span></div>
                </div>
                <div class="course_details_info">
                    <div class="course_details_font little_fix">进&nbsp度:<span>{{vm.courseDetail.courseProgress}}/{{vm.courseDetail.lessonPeriodNumber}}</span></div>
                    <div class="course_details_font">学习人数:<span>{{vm.courseDetail.studyNumber}}</span></div>
                </div>
            </div>
        </div>
        <div class="course_details_main_bottom">
            <p class="course_details_bottom_title">课程简介:</p><p class="course_details_bottom_content">{{vm.courseDetail.intro}}</p>
        </div>
    </div>
    <div class="course_details_main" ui-sref="app.period" ng-repeat="periodList in vm.periodLists track by $index">
        <div class="course_details_float" ng-class="periodList.lessonPeriodStatus|lessonPeriodClass"><p class="course_details_status">{{periodList.lessonPeriodStatus|lessonPeriodStatus}}</p></div>
        <div>
            <p class="course_details_mission_title">{{periodList.lessonPeriodName}}</p>
            <div class="course_details_mission_list">
                <img src="image/app/mission.png" alt="任务列表" class="course_details_mission_img">任务：{{periodList.taskCount}}
            </div>
        </div>
    </div>
    <div class="single-bottom" style="position: fixed; bottom: 0;width:100%;height: 13.88vw">
        <div class="single-check">
            <span class="course_details_bottom_left"><img class="singl-datum" src="image/app/datum.png" height="32" width="28" ng-click="vm.data(1)"/>{{1|data}}</span>
            <span for="img" class="course_details_bottom_middle"><img class="singl-data" ng-src="{{vm.img}}" height="32" width="34" ng-click="vm.collection()" id="img"/>{{vm.collecting}}</span>
            <span class="course_details_bottom_right"><img class="singl-shares" src="image/app/shares.png" height="32" width="33"/>分享</span>
        </div>
        <div class="study">
            开始学习
        </div>
    </div>
    <div ng-show="vm.show">
        <div class="course_details_modal">
            <div class="course_details_modal_collection">
                <img src="image/app/success.png" alt="成功">
                <div style="text-align: center;width: 25vw;">{{vm.collect}}</div>
            </div>
        </div>
        <div class="shady"></div>
    </div>
</div>