<div class="course_details_clear-fix">
    <div class="course_details_main">
        <div class="course_details_main_top">
            <img src="image/seek/background.png" class="course_details_main_img">
            <div class="course_details_middle">
                <div class="course_details_title">和差倍问题</div>
                <div class="course_details_info">
                    <div class="course_details_font little_fix">难度:<span>C级</span></div>
                    <div class="course_details_font">资料数:<span>4套</span></div>
                </div>
                <div class="course_details_info">
                    <div class="course_details_font little_fix">进度:<span>2/20</span></div>
                    <div class="course_details_font">学习人数:<span>1056人</span></div>
                </div>
            </div>
        </div>
        <div class="course_details_main_bottom">
            <p class="course_details_bottom_title">课程简介:</p><p class="course_details_bottom_content">和差倍问题和差倍问题和差倍问题和差题和差倍问题和差倍问题和差倍问题</p>
        </div>
    </div>
    <div class="course_details_main">
        <div class="course_details_float"><p class="course_details_status">已完成</p></div>
        <div>
            <p class="course_details_mission_title">第一课 龟兔赛跑</p>
            <div class="course_details_mission_list">
                <img src="image/app/mission.png" alt="任务列表" class="course_details_mission_img">任务：8个
            </div>
        </div>
    </div>
    <div class="course_details_main">
        <div class="course_details_float"><p class="course_details_status">已完成</p></div>
        <div>
            <p class="course_details_mission_title">第一课 龟兔赛跑</p>
            <div class="course_details_mission_list">
                <img src="image/app/mission.png" alt="任务列表" class="course_details_mission_img">任务：8个
            </div>
        </div>
    </div>
    <div class="course_details_main">
        <div class="course_details_float"><p class="course_details_status">已完成</p></div>
        <div>
            <p class="course_details_mission_title">第一课 龟兔赛跑</p>
            <div class="course_details_mission_list">
                <img src="image/app/mission.png" alt="任务列表" class="course_details_mission_img">任务：8个
            </div>
        </div>
    </div>
    <div class="course_details_main">
        <div class="course_details_float"><p class="course_details_status">已完成</p></div>
        <div>
            <p class="course_details_mission_title">第一课 龟兔赛跑</p>
            <div class="course_details_mission_list">
                <img src="image/app/mission.png" alt="任务列表" class="course_details_mission_img">任务：8个
            </div>
        </div>
    </div>
    <div class="course_details_main">
        <div class="course_details_float"><p class="course_details_status">已完成</p></div>
        <div>
            <p class="course_details_mission_title">第一课 龟兔赛跑</p>
            <div class="course_details_mission_list">
                <img src="image/app/mission.png" alt="任务列表" class="course_details_mission_img">任务：8个
            </div>
        </div>
    </div>
    <div class="course_details_main">
        <div class="course_details_float"><p class="course_details_status">已完成</p></div>
        <div>
            <p class="course_details_mission_title">第一课 龟兔赛跑</p>
            <div class="course_details_mission_list">
                <img src="image/app/mission.png" alt="任务列表" class="course_details_mission_img">任务：8个
            </div>
        </div>
    </div>
    <div class="course_details_main">
        <div class="course_details_float"><p class="course_details_status">已完成</p></div>
        <div>
            <p class="course_details_mission_title">第一课 龟兔赛跑</p>
            <div class="course_details_mission_list">
                <img src="image/app/mission.png" alt="任务列表" class="course_details_mission_img">任务：8个
            </div>
        </div>
    </div>
</div>