<div class="data_clear-fix">
    <h3>请确认您的收件邮箱地址</h3>
    <h4>(试卷会以邮件的形式发送到您的邮箱)</h4>
    <div class="data_content data_content_fixed">
        <div class="data_main">
            <input type="email" class="dataPay_email" disabled ng-model="vm.email">
            <img src="image/app/changeEmail.png" alt="" class='dataPay_changeEmail' ng-click="vm.dataPay_changeEmail()">
        </div>
    </div>
    <div class="data_nextstep_content data_content_fixed">
        <button type="button" class="data_nextstep" ng-disabled="!vm.email" ng-click="vm.click()">
            立即支付
        </button>
    </div>
    <div class="dataPay_weixin" ng-hide="vm.goPay">
        <div class="dataPay_title">
            <span class="dataPay_cancel" ng-click="vm.cancel()">取消</span>
            <span class="dataPay_type">支付方式</span>
            <span class="dataPay_sure" ng-click="vm.sure()">确定</span>
        </div>
        <div class="dataPay_body">
            <img src="image/app/weixinpay.png" alt="微信支付" class="dataPay_weixin_img">
            <span class="dataPay_weixin_main">
                <div class="dataPay_weixinpay">微信支付</div>
                <div class="dataPay_version">推荐安装微信5.0以上版本后使用</div>
                    <label for="surebuy" class="dataPay_surebuy"></label>
                    <img src="image/app/surebuy.png" ng-hide="vm.goPay" class="dataPay_surebuy_img">
                    <input type="radio" id="surebuy" style="display: none;">
            </span>
        </div>
    </div>
    <div class="iron_curtain_modal" ng-hide="vm.goPay"></div>
</div>