<div class="top-side">
    <!--<div ng-show="vm.show">-->
        <!--<div class="course_details_modal">-->
            <!--<div class="course_details_modal_collection">-->
                <!--<img src="image/app/success.png" alt="成功">-->
                <!--<div style="text-align: center;width: 25vw;">{{vm.collect}}</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="shady"></div>-->
    <!--</div>-->
    <div class="bit top-edge bit-height">
        <div class="bit-left bit-border">
        <span class="text-right" ui-sref="app.course">
            <p><img src="image/app/star.png">
            获得星星<br></p>
            <b>{{vm.study_star}}</b>
        </span>
        </div>
        <div class="bit-left">
        <span class="text-right" ui-sref="app.ranking">
            <p><img src="image/app/use.png">
            击败用户<br></p>
            <b>{{vm.rank}}</b>
        </span>
        </div>
    </div>
    <div class="curricula">
        <span>我的课程</span>
        <div class="catalog list"  ui-sref="app.courseDetails">
            <div class="heat">
                <img src="image/app/heat.png" height="41" width="39"/>
            </div>
            <h3>植树问题</h3>
            <h4>第10/20节</h4>
            <h5>1056人已学<c>年级</c>
                <a class="pull-right singl-width"><img  ng-src="{{vm.img}}" height="32" width="34" ng-click="vm.collection()" />{{vm.collecting}}</a>
            </h5>
        </div>
    </div>
    <div class="add">
        <img src="image/app/plus.png" height="25" width="25"/>
        添加课程
    </div>
    <div class="prepare" ui-sref="app.record">
        <span>查看更多我的课程</span>
        <a><img  src="image/app/rigit.png"/></a>
    </div>
    <div class="curricula">
        <span>同步预习</span>
        <div class="catalog list"  ui-sref="app.search">
            <div class="shade">
                同步预习（语文）
            </div>
        </div>
    </div>
</div>
<div class="curricula major-bottom">
    <span>热门推荐</span>
    <div class="major">
        <div class="major-left" ng-repeat="data in vm.data"  ng-class="{even: $even==true, odd: $odd==false}" ui-sref="app.courseDetails">
       <div class="discussion">
           <img src="image/app/catalog.png" ng-src="{{data.homePicture}}"  />
       </div>
        <div class="groom">
            <p>{{data.name}}</p>
            <img src="image/app/people.png"><i>{{data.studyLessonPeriod}}</i>
            <img src="image/app/year.png" class="year-right"><i>{{data.grade}}</i>
        </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="base-bottom">
</div>
