<div class="top-side">
    <div class="gather">
     <div class="Curriculum-search">
         <input type="text" placeholder="请输入需要搜索的课程"/>
         <span class="search-img">
         <img src="image/app/search1.png" height="36" width="36"/>
         </span>
     </div>
        <div class="account">
            <span>科目</span>
            <ul class="options" >
                <li class="change">全部</li>
             <li class="change" ng-repeat="class in classes">{{class.name}}</li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="account">
            <span>年级</span>
            <ul class="options">
                <li class="change">全部</li>
                <li class="change" ng-repeat="subject in subjects">{{subject.name}}</li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="account account-bottom">
            <span>范围</span>
            <ul class="options">
                <li class="change">课程</li>
                <li>课时</li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="gather-search">
        <button class="search-left">重置</button>
        <button class="search-right">搜索</button>
    </div>
</div>