
<div class="top-side" style="position: relative" ng-show="searchs">
    <div class="material">
        <div class="textbook" >
            <div ng-repeat="demoList in demoLists">
            <span>
            <img ui-sref="app.teaching({bookId:demoList.bookId})" ng-src="{{demoList.picture}}" height="245" width="170"/>
             <b>{{demoList.bookName}}</b>
            {{demoList.version}}
            </span>
            </div>
        </div>
    </div>
</div>
<div class="filter filter-search" ng-show="$root.config.headNav.screenList.isShow">
    <div class="filter-left"></div>
    <div class="filter-right cast account">
        <span style="color: #000000;margin-left: 0">年级</span>
        <ul class="options">
            <li class="change" ng-model="demoLists.grade"  ng-click="ngclicks(class.id)"  ng-bing="class"   ng-class="{'selected':selecteds==class.id}"  ng-repeat="class in classes">{{class.name}}</li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="gather-search search-gather">
        <button class="search-left" ng-click="empty()">重置</button>
        <button class="search-right" ng-click="search()">搜索</button>
    </div>
</div>
<div class="top" ng-show="void">
    <div class="empty">
    </div>
    <p class="emptys">这个星球没有您要搜索的内容</p>
</div>



