<div class="col-lg-12 col-md-12 col-sm-12 edging while">
    <h5><strong> | </strong>{{title.name}}</h5>
    <div class="within">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-1 control-label teach_manage_top-form">所属科目
                </label>
                <label class="col-sm-11 control-label teach_manage_top-form bottom-label">{{vm.subjectName}}
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label teach_manage_top-form">所属课程
                </label>
                <label class="col-sm-11 control-label teach_manage_top-form bottom-label">{{vm.courseName}}
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label teach_manage_top-form">所属课时
                </label>
                <label class="col-sm-11 control-label teach_manage_top-form bottom-label">{{vm.periodName}}
                </label>
            </div>
        </form>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 edging mission-fixed">
        <div>
            <form class="form-horizontal mission-fixed" role="form">
                <fieldset class="form-bottom form-bottom-fixed">
                    <form class="form-group mission_fieldset col-lg-12 col-md-12 col-sm-12 control-label" name="mission">
                        <label class="col-sm-1 control-label teach_manage_top-form " for="ds_name">任务名称</label>
                        <input id="ds_name" type="text" class="col-sm-10 teach_manage_top-form top-form-nomargin input_style" ng-disabled="show" ng-model="vm.missionName">
                    </form>
                    <div class="col-lg-12 col-md-12 col-sm-12 edging while mission-fixed">
                        <h5 style="margin: 0"><strong> | </strong>步骤内容保存排序</h5>
                        <div class="mission-task-step" ng-repeat="step in vm.mission_steps" ng-if="vm.index[$index]">
                            <div class="row mission_standard">
                                <div class="col-sm-1 mission_step_num">{{$index+1}}</div>
                                <!--选项下拉菜单-->
                                <div class="col-sm-2">
                                    <div class="form-control" style="border: 0;background: #fff" ng-if="show">{{vm.select[$index]|taskType}}</div>
                                    <select class="form-control" ng-model='vm.select[$index]' id="ds_subject" ng-options="step.id as step.name for step in vm.steps" ng-hide="show"></select>
                                </div>
                                <label class="col-sm-2" ng-show="vm.select[$index]===5">
                                    <input type="checkbox" ng-false-value="0" ng-true-value="1" ng-model="vm.follow_task[$index]"  ng-disabled="show">跟读任务
                                </label>
                                <div class="col-sm-7">
                                    <div class="col-sm-2 col-sm-offset-10">
                                        <button class="form-control" style="text-align: center" ng-click="vm.delete($index)"  ng-if="!show">删除</button>
                                    </div>
                                </div>
                            </div>
                            <!--文件上传模块-->
                            <div class="row mission_standard">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <img ng-src="{{vm.img[$index]}}" alt="" ng-if="show&&vm.select[$index]===1" height="100" width="100">
                                    <audio ng-src="{{vm.img[$index]}}" ng-if="(show&&vm.select[$index]===2)||(show&&vm.select[$index]===5)" controls="controls"></audio>
                                    <file-upload ajax-ads="vm.ajax" img-src="vm.img[$index]" btn-title="上传" ng-disabled=""  img-src="src" select="vm.select[$index]" ng-hide="vm.select[$index]===4||vm.select[$index] === 3||show" belong="3"></file-upload>
                                </div>
                            </div>
                            <!--富文本框-->
                            <div class="row mission_standard">
                                <div class="col-sm-1"></div>
                                <div ng-if="(show&&vm.select[$index]===4)||(show&&vm.select[$index]===5)">{{vm.editorContent[$index]}}</div>
                                <div class="col-sm-10" ng-if="(!show&&vm.select[$index]===4)||(!show&&vm.select[$index]===5)">
                                    <div create-editoer-instance ng-model="vm.editorContent[$index]" class="rich"  ng-disabled="show"></div>
                                </div>
                            </div>
                            <!--预览视频-->
                            <div class="row mission_standard">
                                <div class="col-sm-10 col-sm-offset-1"  ng-show="vm.select[$index]===3">
                                    <input type="url" ng-model="vm.videoUrl[$index]" style="width: 100%" ng-disabled="show">
                                    预览视频:<a ng-href="{{vm.videoUrl[$index]}}">{{vm.videoUrl[$index]}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button class="button-bottom" ng-click="add_step()"  ng-if="!show">
                    <div class="mission_col"></div>
                    <div class="mission_row"></div>
                </button>
                <div class="form-horizontal">
                    <div class="row">
                        <label class="col-sm-1 control-label">提示</label>
                        <label>
                            <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="vm.tips"  ng-disabled="show">启用
                        </label>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label">贴士类型</label>
                        <label>
                            <input type="radio" name="tips" value="1" ng-model="vm.tipsType" ng-disabled="vm.tips===0||vm.tips===undefined||show">鼓励
                        </label>
                        <label>
                            <input type="radio" name="tips" value="2" ng-model="vm.tipsType" ng-disabled="vm.tips===0||vm.tips===undefined||show">购买
                        </label>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label">弹出时间</label>
                        <label>
                            <input type="radio" name="time" value="1" ng-model="vm.promptTime" ng-disabled="vm.tips===0||vm.tips===undefined||show">当前任务前
                        </label>
                        <label>
                            <input type="radio" name="time" value="2" ng-model="vm.promptTime" ng-disabled="vm.tips===0||vm.tips===undefined||show">当前任务后
                        </label>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label">提示内容</label>
                        <textarea class="col-sm-11" style="max-width: 91.66%;" ng-model="vm.promptInformation" ng-disabled="vm.tips===0||vm.tips===undefined||show"></textarea>
                    </div>
                </div>
                <div class="row mission_standard">
                    <div class="col-sm-10 col-sm-offset-1 mission_fastener">
                        <button type="button" class="btn ascertain" ng-click="sure()" ng-disabled="!vm.missionName">确定</button>
                        <button type="button" class="btn cancel" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>