<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="periodFinish_mian_body">
        <div class="periodFinish_orange_back">
            <img src="image/app/study5.png" alt="" class="periodFinish_getStar">
        </div>
        <div class="periodFinish_bottom_back">
            <div class="periodFinish_line_top">
                <div class="periodFinish_line"></div>
                <div class="periodFinish_youcan">您还可以</div>
            </div>
            <div  class="periodFinish_choose_div">
                <div class="periodFinish_choose">
                    <div class="periodFinish_choose_left periodFinish_choose_public"></div>
                    <div class="periodFinish_choose_center">购买配套资料</div>
                    <button class="periodFinish_choose_button" ng-click="vm.go_buy()">去购买</button>
                </div>
                <div class="periodFinish_choose">
                    <div class="periodFinish_choose_middle periodFinish_choose_public"></div>
                    <div class="periodFinish_choose_center">继续学习</div>
                    <button class="periodFinish_choose_button">下一课时</button>
                </div>
                <div class="periodFinish_choose">
                    <div class="periodFinish_choose_right periodFinish_choose_public"></div>
                    <div class="periodFinish_choose_center">回到首页</div>
                    <button class="periodFinish_choose_button" ng-click="vm.go_index()">回到首页</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>