<div class="course_clear-fix">
    <div class="single-bottom" style="position: fixed; bottom: 0;width:100%;height: 13.88vw">
        <div class="single-check">
            <span class="course_details_bottom_left"><img class="singl-datum" src="image/app/datum.png" height="32" width="28" ng-click="vm.data(1)"/>{{1|data}}</span>
            <span for="img" class="course_details_bottom_middle"><img class="singl-data" ng-src="{{vm.img}}" height="32" width="34" ng-click="vm.collection()" id="img"/>{{vm.collecting}}</span>
            <span class="course_details_bottom_right"><img class="singl-shares" src="image/app/shares.png" height="32" width="33"/>分享</span>
        </div>
        <div class="study">
            开始学习
        </div>
    </div>
    <div ng-show="vm.show">
        <div class="course_details_modal">
            <div class="course_details_modal_collection">
                <img src="image/app/success.png" alt="成功">
                <div style="text-align: center;width: 25vw;">{{vm.collect}}</div>
            </div>
        </div>
        <div class="shady"></div>
    </div>
</div>