/*resume*/

.resume-wrap {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  .resume-h1 {
    text-align: center;
  }
  .resume-update {
    text-align: right;
  }
  .resume-download {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #467cd4;
  }
  .resume-link a {
    text-decoration: none;
    color: #467cd4;
  }
  p {
    line-height: 17px;
  }
  .resume-para-name {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
  }
  .resume-hr {
    border-top: 1px solid #467cd4;
  }
  .resume-ul>li {
    line-height: 25px;
  }
  .resume-ul>li>ol>li {
    line-height: 20px;
  }
  .ex-title {
    display: flex;
    justify-content: space-between;
  }
}