<div class="data_clear-fix">
    <h3>资料所属</h3>
    <div class="data_content">
        <img src="image/seek/background.png" class="data_main_img">
        <div class="data_main">
            <h2>和差倍问题</h2>
            <img src="image/app/heat.png" class="data_recommended">
            <span>{{1056}}人已学</span>
            <span>{{'A'}}级</span>
        </div>
    </div>
    <h3>本课程(含有本课程全部学习资料)</h3>
    <div class="data_content data_content_fixed">
        <div class="data_main">
            <h2 class="data_learning">学习资料</h2>
            <span>￥9.90</span>
        </div>
        <label for="surebuy" class="data_surebuy"></label>
        <img src="image/app/surebuy.png" ng-show="checked" class="data_surebuy_img">
        <input type="checkbox" id="surebuy" style="display: none;" ng-model="checked">
    </div>
    <div class="data_nextstep_content data_content_fixed">
        <div class="data_nextstep" ui-sref="app.dataPay">下一步
        </div>
    </div>
</div>