<div class="container-fluid communal-padding least communal-absolute">
    <div class="login-head">
        <a ui-sref="wechat"><img src="image/app/return.png" height="30" width="30"/></a><span>绑定回家学习账号</span>
    </div>
    <div class="login-center">
        <div class="top-handset">
            <img src="image/app/cellphone.png" />
            <input  id="ds_name" type="text" class="push-button" value="15203435003"  placeholder="请输入手机号码"   />
        </div>
        <div class="bottom-password">
            <img src="image/app/password.png"/>
            <input  id="ds_name" type="text"class="push-button"  placeholder="请输入登录密码" />
        </div>
    </div>
    <div class="lognow">
        <button type="button" class="btn btn-default associate-top" ui-sref="">立即登录</button>
    </div>
</div>
