<div class="top-side">
    <form name="myForm" novalidate style="position: absolute; width: 100%">
    <div class="login-center top-edge">
        <div class="top-handset">
            <img src="image/app/cellphone.png" height="37" width="24"/>
            <input type="text" class="push-button" name="phone" required  ng-model="phone" placeholder="请输入手机号码" ng-pattern="phonePattern">
        </div>
        <div class="bottom-password">
            <img src="image/app/password.png" height="35" width="26"/>
            <input id="ds_name" type="password" class="push-button" name="pwd"
                   ng-pattern="pwdPattern"
                    ng-model="password"  required
                   placeholder="请输入登录密码"/>
        </div>
    </div>
    <div class="press-button">
        <button type="button" class="btn btn-default"  ng-click="entry()">登录</button>
        <a class="pull-left" ui-sref="app.enroll">立即注册</a>
        <a class="pull-right" ui-sref="app.retrieve">忘记密码？</a>
    </div>
    <div class="clear"></div>
        <modal></modal>
    </form>
    <div class="third-party " id="footer" >
        <div class="third-title"><b></b><span>第三方账号登录</span><b></b></div>
        <div class="party-logo">
     <span>
      <img ng-click="login()"  src="image/app/Wechat.png" height="77" width="76"/>
      <p>微信登陆</p>
     </span>
        </div>
    </div>
</div>