<div class="container-fluid communal-padding least communal-absolute">
    <div class="login-head">
        <a ui-sref="wechat"><img src="image/app/return.png" height="30" width="30"/></a><span>注册并绑定玩转学习账号</span>
    </div>
    <div class="login-center">
        <div class="top-handset">
            <img src="image/app/cellphone.png" />
            <input  id="ds_name" type="text" class="push-button" value="15203435003"  placeholder="请输入手机号码"   />
        </div>
        <proving></proving>
        <div class="bottom-password">
            <img src="image/app/password.png"/>
            <input  id="ds_name" type="text"class="push-button"  placeholder="请输入登录密码" />
        </div>
    </div>
    <div class="lognow">
        <button type="button" class="btn btn-default associate-top" ui-sref="">注册并绑定</button>
    </div>
    <!--<div class="portrait">-->
        <!--<img src="image/app/portrait.png" height="231" width="231"/>-->
        <!--<p>Termianl</p>-->
        <!--<span>您的微信暂未关联回家学习</span>-->
        <!--<button type="button" class="btn btn-default associate-top" ui-sref="newAccount">关联新账号</button>-->
        <!--<button type="button" class="btn btn-default associate-bottom" ui-sref="binding">关联已有账号</button>-->
    <!--</div>-->
</div>
