    <!--找回密码-->
    <div class="top-side">

        <form name="myForm" novalidate >
<div class="login-center top-edge">
        <div class="top-handset">
            <img src="image/app/cellphone.png" />
            <input  id="ds_name" type="text" name="phone"
                     ng-model="name"    required class="push-button"  value="15203435003"  placeholder="请输入手机号码"   />
        </div>
        <proving></proving>
        <div class="bottom-password">
            <img src="image/app/password.png"/>
            <input  id="ds_name" name="password"
                    required="required" ng-model="pwd"  required type="password"class="push-button"  placeholder="设置新密码" />
        </div>
        <div class="bottom-password">
            <img src="image/app/password.png"/>
            <input  id="ds_name" name="pwds" required="required"  ng-model="pwds" required type="password"class="push-button"  placeholder="确定新密码" />
        </div>
    </div>
    <div class="press-button">
        <button type="button" class="btn btn-default" ng-click="retrieve()">确定</button>
    </div>
    <div class="clear"></div>
        </form>
        <modal></modal>
    </div>


