<div class="seek">
    <h4>{{vm.ajax.title}}</h4>
    <p>
        <span class="time">{{vm.ajax.createAt | date:'yyyy-MM-dd'}}</span>
        <i class="glyphicon glyphicon-eye-open"></i>
        <span class="bind"> 阅读{{vm.ajax.readQuantity}}</span>
    </p>
    <img src="{{vm.ajax.homePicture}}"/>
    <p class="characters">{{vm.ajax.text}}</p>
</div>
<div ng-if="isShare">
    <div class="shady-fixed shady_fixed" ng-click="cancelShare()">
        <div class="arrow">
            <div class="triangle_fixed"></div>
        </div>
        <div class="choose_position">点击这里选择分享位置哦~</div>
    </div>
</div>