
<div class="top-code">
    <img src="image/app/code.png"/>
    <input  id="ds_name" type="number" name="proving" ng-pattern="provingPattern" ng-model="phonecode" required class="push-button code-right" placeholder="输入验证码"   required ng-model="user.testcode"/>
    <b></b>
    <span>
        <input type="button" value="{{description}}" class="code-input" ng-click="send()" ng-class="codeColor"  ng-disabled="canClick">
    </span>
    <span>
        <input type="button" value="{{speech}}"  class="code-input"ng-click="call()" ng-class="codeColor"  ng-disabled="startClick">
    </span>
</div>


