<div class="panel pael-default">
    <div class="panel-body" style="border: 1px solid #f5f5f5;border-bottom: none">
        <from class="form-horizontal">
            <div class="container-fluid">
                <div class="row pd-bottom-2">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 word-spacing-25 titel">用户昵称</label>
                            <div class="col-md-8">
                                <input type="text" ng-model="vm.$stateParams.userName" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 titel">提交时间</label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup
                                       ng-init="beginTimeOpen"
                                       is-open="beginTimeOpen"
                                       ng-click="beginTimeOpen=true"
                                       ng-model="vm.$stateParams.beginTime"
                                       datepicker-options="vm.$picker.conf"
                                       ng-required="true" close-text="关闭"
                                       clear-text="清空" current-text="今天" alt-input-formats="altInputFormats"/>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-2 text-center ">—</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup
                                       ng-init="endTimeOpen"
                                       is-open="endTimeOpen"
                                       ng-click="endTimeOpen=true"
                                       ng-model="vm.$stateParams.endTime"
                                       datepicker-options="vm.$picker.conf"
                                       ng-required="true" close-text="关闭"
                                       clear-text="清空" current-text="今天" alt-input-formats="altInputFormats"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 word-spacing-25 titel">邮箱</label>
                            <div class="col-md-8">
                                <input type="text" ng-model="vm.$stateParams.userEmail" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row pd-bottom-2">
                        <div class="col-md-4 pull-right text-right">
                            <div params="searchParams" class="ng-isolate-scope">
                                <button type="button" class="btn btn-danger" ng-click="vm.clear()">清空</button>
                                <button type="button" class="btn btn-success" ng-click="vm.search()">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </from>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="user_management">I 意见模板</span>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                <th>序号</th>
                <th>用户昵称</th>
                <th>邮箱</th>
                <th>提交时间</th>
                <th>操作</th>
                </thead>
                <tbody>
                <tr ng-repeat="self in vm.suggestList">
                    <td>{{$index+1}}</td>
                    <td>{{self.userName}}</td>
                    <td>{{self.userEmail}}</td>
                    <td>{{self.createAt|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                        <button class="btn btn-warning btn-xs"  ui-sref="backStage.serviceManage.objectionManage({id:self.id})">查看</button>
                        <button class="btn btn-danger btn-xs" ng-click="vm.delete(self.id)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="its col-xs-11 pull-right">
                <uib-pagination total-items="vm.$page.total" ng-model="vm.$stateParams.page" max-size="5"
                                items-per-page="vm.$stateParams.size"
                                ng-change="vm.$page.pageGo()"
                                first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页"
                                boundary-links="true" boundary-link-numbers="true"></uib-pagination>
            </div>
        </div>
    </div>
</div>