<div class="panel panel-default">
    <div class="panel-heading">
        <span class="user_management">I 角色管理</span>
        <span class="pull-right pointer" ui-sref="backStage.moduleManage.roleManage">新增+</span>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <table class="table table-bordered">
                <thead>
                <th>ID</th>
                <th>角色名</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>更新人</th>
                <th>更新时间</th>
                <th>操作</th>
                </thead>
                <tbody>
                <tr ng-repeat="self in vm.ajax">
                    <td>{{$index+1}}</td>
                    <td>{{self.name}}</td>
                    <td>{{self.createBy}}</td>
                    <td>{{self.createAt| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{self.updateBy}}</td>
                    <td>{{self.updateAt| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                        <button class="btn btn-warning btn-xs" ui-sref="backStage.moduleManage.roleIncreased({id:self.id})">编辑</button>
                        <button class="btn btn-danger btn-xs" ng-click="vm.delete(self.id)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <div class="row">
            <div class="its col-xs-11 pull-right">
                <uib-pagination total-items="vm.total" ng-model="vm.currentPage" max-size="5"
                                items-per-page="vm.size"
                                first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页"
                                boundary-links="true" boundary-link-numbers="true"
                                ng-click="vm.pageGo(vm.currentPage)"></uib-pagination>
            </div>
        </div>
    </div>
</div>