* {
    font-size: 12px;
    color: #666666;
    font-family: '思源黑体';
    margin: 0;
    padding: 0;
}
.data_clear-fix {
    position: relative;
    width: 100vw;
    top: 14vw;
    z-index: 49;
    margin-bottom: 16vw;
}
.data_clear-fix h3 {
    margin: 5vw 0 2.2vw 2.2vw;
    font-size: 3.3vw;
    color: #333;
}
.data_content{
    position: relative;
    width: 96vw;
    height: 20.8vw;
    margin: 0 auto 3vw auto;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 1px #d9d9d9 ;
}
.data_content_fixed {
    height: auto;
}
.data_main_img{
    width: 20.8vw;
    height: 20.8vw;
    float: left;
    margin: 0 3.2vw;
}
.data_main{
    /*margin-top: 5vw;*/
}
.data_recommended {
    position: absolute;
    width: 5vw;
    height: 6vw;
    top: 0;
    right: 4.2vw;
    margin: 0;
}
.data_main h2{
    color: #000;
    font-size: 3.9vw;
    display: inline-block;
}
.data_content_fixed .data_main span {
    font-size: 3.9vw;
    display: inline-block;
    color: #f36c5c;
}
.data_main span{
    font-size: 3.7vw;
    color: #999999;
    display: inline-block;
}
.data_learning {
    margin: 5vw;
    display: inline-block;
}
.data_surebuy {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5vw 4.2vw 5vw 0;
    width: 4.71vw;
    height: 4.71vw;
    border: 1px solid #d9d9d9;
    z-index: 20;
    border-radius: .3vw;
}
.data_surebuy_img {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5vw 4.2vw 5vw 0;
    width: 4.7vw;
    height: 4.7vw;
}
.data_nextstep {
    font-size: 4.4vw;
    padding: 4.5vw;
    text-align: center;
    color: #fff;
    background-color: #03a9f4;
    border-radius: 6px;
}
.data_nextstep_content {
    position: fixed;
    width: 96vw;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 1px 6px 0 #03a9f4;
    bottom: 5vw;
    margin-left: 2vw;
}