<div class="col-lg-12 col-md-12 col-sm-12 edging while">
    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="row">
            <div class="form-group">
                <label class="col-sm-1 control-label" >资料类别</label>
                <div class="col-sm-3">
                    <select ng-disabled="vm.disabled" class="form-control" ng-model="vm.period.type"  ng-options="datum.id as datum.txt for datum in vm.Datum" >
                    </select>
                </div>
                <label class="col-sm-1 control-label" >所属科目</label>
                <div class="col-sm-3">
                    <select class="form-control"  ng-show="vm.iSubject"  ng-disabled="vm.disabled" ng-model="vm.period.subjectId"  ng-options="subject.subjectId as subject.subjectName for subject in vm.Book">
                        <option value="">全部</option>
                    </select>
                    <select class="form-control"  ng-show="vm.iSubjects" ng-disabled="vm.disabled">
                        <option value="">全部</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">年级</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-disabled="vm.disabled" ng-model="vm.period.grade" ng-options="grades.id as grades.txt for grades in vm.downGrade">
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label step" >所属课程/教材</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-disabled="vm.disabled" ng-model="vm.period.courseId"  ng-options="(courses.courseId||courses.bookId) as (courses.courseName||courses.bookName) for courses in vm.Book">
                        <option value="">全部</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" >所属课时</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-disabled="vm.disabled" ng-model="vm.period.lessonPeriodId"  ng-options="(lessonPeriod.id||lessonPeriod.lessonPeriodId) as (lessonPeriod.name||lessonPeriod.lessonPeriodName) for lessonPeriod in vm.Book">
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" style="margin-right: 5px" ng-click="vm.inquiry()">查询</button>
                    <button type="button" ng-show="vm.show" class="btn btn-default"  ng-click="vm.clear()">重置</button>
                </div>

            </div>
        </fieldset>
    </form>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 edging">
    <h5><strong> | </strong>资料管理
        <a ng-show="vm.newly"
           ui-sref="backStage.dataManage.dataManage({
           add:vm.period.add,
           from:3,type:vm.period.type,
           bookId:vm.period.courseId,
           lessonPeriodId:vm.period.lessonPeriodId,
           courseId:vm.period.courseId,
           courseName:vm.period.courseName,
           subjectName:vm.period.subjectName,
           subjectId:vm.period.subjectId,
           grade:vm.period.grade,
           lessonPeriodName:vm.period.lessonPeriodName,bookName:vm.period.bookName})" class="pull-right">新增</a></h5><!--grade:vm.period.grade,-->
    <table class="table table-striped gridiron edging">
    <thead>
    <tr>
        <th>序号</th>
        <th>所属课程/教材</th>
        <th>所属课时</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="self in vm.means">
        <td>{{$index+1}}</td>
            <td>{{self.courseName||self.bookName}}</td>
        <td>{{self.lessonPeriodName}}</td>
        <td>
            <a ui-sref="backStage.dataManage.dataManage({
            add:vm.period.add,
            from:1,type:vm.period.type,
            grade:vm.period.grade,
            datumId:self.id,
            courseName:self.courseName,
            courseId:self.courseId,
            bookName:self.bookName,
            lessonPeriodName:self.lessonPeriodName,
            bookId:self.bookId,
            subjectName:vm.period.subjectName,
            subjectId:vm.period.subjectId,
            lessonPeriodId:self.lessonPeriodId,})">查看</a>
            <a ui-sref="backStage.dataManage.dataManage({
            add:vm.period.add,
            from:2,type:vm.period.type,
            grade:vm.period.grade,
            datumId:self.id,
            courseId:self.courseId,
            courseName:self.courseName,
            bookName:self.bookName,
            subjectName:vm.period.subjectName,
            subjectId:vm.period.subjectId,
            lessonPeriodName:self.lessonPeriodName,
            bookId:self.bookId,
            lessonPeriodId:self.lessonPeriodId,})">编辑</a>
            <a ng-click="vm.delete(self.id)">删除</a>
        </td>
    </tr>
    </tbody>
</table>
    <div class="its col-xs-11 pull-right text-right">
        <uib-pagination total-items="vm.total" ng-model="vm.currentPage" items-per-page="vm.period.size" max-size="5" first-text="第一页"
                        previous-text="上一页" next-text="下一页"
                        last-text="最后页" boundary-links="true"
                        ng-click="vm.pageGo(vm.currentPage)"
                        boundary-link-numbers="true">
        </uib-pagination>
    </div>
</div>