<div class="col-lg-12 col-md-12 col-sm-12 edging while">
    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="row">
            <div class="form-group">
                <label class="col-sm-1 control-label" for="ds_name">资料类别</label>
                <div class="col-sm-3">
                    <select class="form-control" id="ds_name">
                        <option ng-repeat="family in vm.family">{{family.name}}</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" for="ds_name">所属科目</label>
                <div class="col-sm-3">
                    <select class="form-control" id="ds_name" >
                        <option value="" ng-repeat="subject in vm.subject">{{subject.name}}</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" for="ds_name">年级</label>
                <div class="col-sm-3">
                    <select class="form-control" id="ds_name" >
                        <option value="" ng-repeat="grade in vm.grade">{{grade.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label step" for="ds_host">所属课程/教材</label>
                <div class="col-sm-3">
                    <select class="form-control" id="ds_name" >
                        <option ng-repeat="CourseMaterials in vm.CourseMaterials">{{CourseMaterials.name}}</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" for="ds_name">所属课时</label>
                <div class="col-sm-3">
                    <select class="form-control" id="ds_name">
                        <option ng-repeat="CourseMaterials in vm.CourseMaterials">{{CourseMaterials.name}}</option>
                    </select>
                </div>
                <!--<label class="col-sm-1 control-label" for="ds_name">状态</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<select class="form-control" id="ds_name">-->
                        <!--<option value="">全部</option>-->
                        <!--<option value="0">上架</option>-->
                        <!--<option value="1">下架</option>-->
                    <!--</select>-->
                <!--</div>-->
            </div>
            <button type="button" class="btn btn-default pull-right">查询</button>
            </div>
        </fieldset>
    </form>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 edging">
    <h5><strong> | </strong>资料管理<a ui-sref="backStage.dataManage.dataManage({'from':1})" class="pull-right">新增+</a></h5>
    <table class="table table-striped gridiron edging">
    <thead>
    <tr>
        <th>序号</th>
        <th>所属课程/教材</th>
        <th>所属课时</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="self in vm.demoLists">
        <td>{{$index+1}}</td>
        <td>{{self.bookNameCourseName}}</td>
        <td>{{self.lessonPeriodName}}</td>
        <td>
            <a ui-sref="backStage.dataManage.dataManage({'from':2})">查看</a>
            <a ui-sref="backStage.dataManage.dataManage({'from':3})">编辑</a>
            <a>删除</a>
        </td>
    </tr>
    </tbody>
</table>
    <div class="its col-xs-11 pull-right text-right">
        <uib-pagination  items-per-page="2"  ng-model="currentPage" max-size="maxSize"
                        first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页"
                        boundary-links="true" boundary-link-numbers="true"></uib-pagination>
    </div>
</div>