<div class="col-lg-12 col-md-12 col-sm-12 edging while">
    <h5><strong> | </strong>{{title.name}}</h5>
    <div class="inner within">
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-1 control-label top-form" for="ds_name">所属科目
                    </label>
                    <label class="col-sm-11 control-label top-form bottom-label" for="ds_name">{{materials.subjectName}}
                    </label>
                    <label class="col-sm-1 control-label top-form" for="ds_name">所属课程
                    </label>
                    <label class="col-sm-11 control-label top-form bottom-label" for="ds_name">{{materials.courseName}}
                    </label>
                    <label class="col-sm-1 control-label top-form" for="ds_name">所属课时
                    </label>
                    <label class="col-sm-11 control-label top-form bottom-label" for="ds_name">{{materials.lessonPeriodName}}
                    </label>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 edging">
        <form class="form-horizontal" role="form">
            <fieldset class="form-bottom">
                <div class="form-group">
                    <div class="row">
                    <label class="col-sm-1 control-label top-form" for="ds_name">价格</label>
                    <div class="col-sm-11 top-form">
                        <input  ng-disabled="disabled" class="ipt" id="ds_name" value="{{materials.needMoney}}" type="text" />元
                    </div>
                    </div>
                    <div class="row">
                    <label class="col-sm-1 control-label top-form" for="ds_name">文件</label>
                    <div class="col-sm-11 top-form">
                        <img ng-show="check" ng-src="{{logo}}" style="width: 300px;height: 300px;background: red">
                            <img-upload ng-show="show"  ajax-ads="'/a/u/admin/file/up'" img-src="" btn-title="上传" ng-disabled="" img-src="params.img"></img-upload>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-1 control-label top-form" for="ds_name"></label>
                    <div class="col-sm-11 fastener">
                        <button type="button" class="btn ascertain" ng-click="some()">{{title.edit}}</button>

                        <button type="button" class="btn cancel" ng-click="remove()">取消</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>