<form name="myForm" novalidate="" style="position: absolute; width: 100%" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern"
name="pwdForm">
    <div class="login-center top-edge top">
        <div class="top-handset">
            <img src="image/app/password.png" height="35" width="26">
            <input type="password" class="push-button "
                   name="pwd" required="" ng-model="vm.oldPassword" placeholder="请输入旧密码" >
        </div>
        <div class="bottom-password">
            <img src="image/app/password.png" height="35" width="26">
            <input type="password" class="push-button" name="pwd" ng-model="vm.newPassword" required="" placeholder="请输入新密码">
        </div>
        <div class="bottom-password">
            <img src="image/app/password.png" height="35" width="26">
            <input type="password" class="push-button " name="pwd" ng-model="vm.againPassword" required="" placeholder="请确认新密码" >
        </div>
    </div>

    <div class="press-button">
        <button type="button" class="btn butColor" ng-click="vm.send()"
                ng-class="{'butColor':!vm.oldPassword||!vm.newPassword||!vm.againPassword||!vm.oldPassword==vm.againPassword}"
                style="outline: none;color: #fff;">确认</button>
    </div>
    <div ng-if="vm.$pop.show" style="position: fixed;top: 110vw;left: 50%;transform:translateX(-50%);text-align: center;z-index: 9999">{{vm.$pop.txt}}</div>
    <modal></modal>
</form>
