<style>
    html{
        background: #ffffff;
    }
</style>
<div class="list-ol" style="margin-top: 13vw">
    <div class="collect-body" ng-if="vm.data.length==0">
        <div>
            <img class="collect-img" src="image/mine/void.png"/>
            <p>该用户还没有解锁的资料哦！</p>
        </div>
    </div>
    <div class="pd-left-20 pd-md"  ng-if="vm.data.length!=0" ui-sref="app.meansMail({dataId:x.dataId})" ng-repeat="x in vm.data">
        <div class="info">
            <span>{{x.lessonPeriodName}}</span>
            <img src="image/mine/time.png" height="20" width="20"/>
            <i>{{x.payTime | date:'yyyy-MM-dd'}}</i>
        </div>
        <p>
            <span style="font-size: 3vw;margin-right: -1vw">￥</span>{{x.money}}
        </p>
    </div>
</div>