<div>
    <div class="collect-body" ng-if="vm.message.length==0">
        <div>
            <img class="collect-img" src="image/mine/void.png"/>
            <p>空空如也，快出去找一些回来吧</p>
        </div>
    </div>
    <div class="enwrap"  ng-if="vm.message.length!=0">
        <div class="package packFirst" ng-repeat="item in vm.message"  ui-sref="app.particulars({id:item.id,title:item.title})">
            <h3>{{item.title}}</h3>
            <p>{{item.sendTime | date:'yyyy-MM-dd'}}</p>
            <div class="packMain">
                <a><img src="image/mine/right.png" alt="" class="pull-right" >立即查看</a>
            </div>
        </div>
    </div>
</div>
