<div class="usingHelp" style="margin-top: 13vw">
    <div style="border: 1px solid #f3f3f3">
        <div ng-repeat="x in vm.list" ui-sref="app.helpDetails({id:x.id})"
             style="height: 18vw;width: 100%;margin: auto;border-bottom: 1px solid #e3e3e3;">
            <span style="font-size: 4.4vw;padding: 5vw;line-height: 15vw">{{x.title}}</span>
            <img src="image/mine/right.png" alt="" class="pull-right" style="margin-top: 4.5vw;margin-right: 5vw">
        </div>
    </div>
</div>