<div ui-view>
    <div class="panel pael-default">
        <div class="panel-body" style="border: 1px solid #f5f5f5;border-bottom: none">
            <from class="form-horizontal">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 form-group">
                            <label class="col-sm-3 control-label">
                                用户名
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="vm.$stateParams.name">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 form-group">
                            <label class="col-sm-3 control-label">
                                ID
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="vm.$stateParams.userId">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 form-group">
                            <label class="col-sm-3 control-label">
                                年级
                            </label>
                            <div class="col-sm-9 ">
                                <select class="form-control"
                                        ng-model="vm.$stateParams.grade" ng-options="c.value as c.txt for c in vm.grade">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6  form-group">
                            <label class="col-sm-3 control-label">
                                学习星数
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="vm.$stateParams.starBegin">
                            </div>
                            <label class="col-sm-1 control-label padding-center">
                                ~
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="vm.$stateParams.starEnd">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 form-group">
                            <label class="col-sm-3 control-label">
                                学习课时数
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="vm.$stateParams.studyLessonBegin">
                            </div>
                            <label class="col-sm-1 control-label padding-center">
                                ~
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="vm.$stateParams.studyLessonEnd">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 form-group">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 form-group">
                            <label class="col-sm-3 control-label">
                                邮箱
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="vm.$stateParams.email">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 form-group">
                            <label class="col-sm-3 control-label">
                                状态
                            </label>
                            <div class="col-sm-9 ">
                                <select class="form-control"
                                        ng-model="vm.$stateParams.status" ng-options="c.value as c.txt for c in vm.status">
                                </select>
                            </div>
                        </div>
                        <div class="row pd-bottom-2">
                            <div class="col-md-4 pull-right text-right">
                                <div class="ng-isolate-scope">
                                    <button type="button" class="btn btn-danger" ng-click="vm.clear()">清空</button>
                                    <button type="button" class="btn btn-success" ng-click="vm.search()">查询</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </from>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="user_management">用户管理（用户总数：?人）</span>
        </div>
        <div class="panel-body  tabulation table-responsive table-responsive">
            <div class="panel panel-default">
                <table class="table table-striped add-table-border">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>ID</th>
                        <th>昵称</th>
                        <th>年级</th>
                        <th>学习星数</th>
                        <th>学习课时数</th>
                        <th>邮箱</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="self in vm.ajaxData">
                        <td>{{$index+1}}</td>
                        <td>{{self.id}}</td>
                        <td>{{self.name}}</td>
                        <td>{{self.grade | grade}}</td>
                        <td>{{self.studyStar}}</td>
                        <td>{{self.studyLesson||0}}</td>
                        <td>{{self.email||'空'}}</td>
                        <td>{{self.status==1?'正常':'冻结'}}</td>
                        <td>
                            <button class="btn btn-warning btn-xs"  ui-sref="backStage.party.see({id:self.id})">查看</button>
                            <button class="btn btn-primary btn-xs " ng-click="vm.thaw(self.id,self.status)">{{self.status==1?'冻结':'解冻'}}</button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="its col-xs-11 pull-right">
                    <uib-pagination total-items="vm.total" ng-model="vm.currentPage" max-size="5"
                                    items-per-page="vm.size"
                                    first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页"
                                    boundary-links="true" boundary-link-numbers="true"
                                    ng-click="vm.pageGo(vm.currentPage)"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
