<style>
    .active{
        color: #000!important;
        background: #fff;
    }
</style>
<div class="contentBottom">
    <div class="panel-heading" style="background: #F9F9F9">
        <strong>
            I 用户详情
        </strong>
    </div>
    <div class="panel-body tabulation table-responsive table-responsive">
        <div class="tabulation">
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                <div class="col-lg-12 col-sm-12 form-group">
                    <label class="col-sm-3 control-label">
                        用户名
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="vm.name" ng-disabled="true">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 form-group">
                    <label class="col-sm-3 control-label">
                        邮箱
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="vm.email" ng-disabled="true">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 form-group">
                    <label class="col-sm-3 control-label">
                        年级
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control"
                                ng-model="vm.grade"  ng-options="c.value*1 as c.txt for c in vm.year" ng-disabled="true">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                <div class="col-lg-12 col-sm-12 form-group">
                    <label class="col-sm-3 control-label">
                        头像
                    </label>
                    <div class="col-sm-9 portrait" ng-model="vm.profilePicture">
                        <img src="" alt="" ng-src="{{vm.profilePicture}}">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 form-group">
                    <p style="color:#fff">我是佔位符</p>
                    <p style="color:#fff">我是佔位符</p>
                    <p style="color:#fff">我是佔位符</p>
                </div>
            </div>
            <ul id="tabs">
                <li><a ui-sref="backStage.party.see.tab1({userId:vm.$stateParams.userId,
            page:vm.$stateParams.page,size:vm.$stateParams.size})">我的收藏(课程)</a></li>
                <li><a ui-sref="backStage.party.see.tab2({userId:vm.$stateParams.userId,
            page:vm.$stateParams.page,size:vm.$stateParams.size})">我的收藏(课时)</a></li>
                <li><a ui-sref="backStage.party.see.tab3({userId:vm.$stateParams.userId,
            page:vm.$stateParams.page,size:vm.$stateParams.size})">我的资料</a></li>
            </ul>
            <div id="content" ui-view="favDetail">

            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
<script>
    $(document).ready(function () {
        $("#content div").hide(); // Initially hide all content
        $("#tabs li:first").attr("id", "current"); // Activate first tab
        $("#content div:first").fadeIn(); // Show first tab content

        $('#tabs a').click(function (e) {
            $("#content div").hide(); //Hide all content
            $("#tabs li").attr("id", ""); //Reset id's
            $(this).parent().attr("id", "current"); // Activate this
            $('#' + $(this).attr('title')).fadeIn(); // Show content for current tab
        });
    });
</script>