<style>
    .active{
        color: #000!important;
        background: #fff;
    }
</style>
<div class="contentBottom">
    <div class="panel-heading" style="background: #F9F9F9">
        <strong>
            I xxxxxx用户详情
        </strong>
    </div>
    <div class="panel-body tabulation table-responsive table-responsive">
        <div class="tabulation">
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                <div class="col-lg-12 col-sm-12 form-group">
                    <label class="col-sm-3 control-label">
                        用户名
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 form-group">
                    <label class="col-sm-3 control-label">
                        邮箱
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 form-group">
                    <label class="col-sm-3 control-label">
                        年級
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control"
                                ng-model="selectedName"  ng-options="c.value as c.txt for c in vm.grade">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                <div class="col-lg-12 col-sm-12 form-group">
                    <label class="col-sm-3 control-label">
                        头像
                    </label>
                    <div class="col-sm-9 portrait">

                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 form-group">
                    <p style="color:#fff">我是佔位符</p>
                    <p style="color:#fff">我是佔位符</p>
                    <p style="color:#fff">我是佔位符</p>
                </div>
            </div>

            <ul id="tabs">
                <li><a href="#" title="tab1">我的收藏(课程)</a></li>
                <li><a href="#" title="tab2">我的收藏(课时)</a></li>
                <li><a href="#" title="tab3">我的资料</a></li>
            </ul>
            <div id="content">
                <div id="tab1">
                    <table class="table table-striped add-table-border sheet">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>课程名称</th>
                            <th>所屬科目</th>
                            <th>等级</th>
                            <th>累计学习人数</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="self in vm.ajax">
                            <td>{{$index+1}}</td>
                            <td>{{self.courseName}}</td>
                            <td>{{self.id}}</td>
                            <td>{{self.userId}}</td>
                            <td>{{self.name}}</td>
                            <td>{{self.subject==1?'上架':'下架'}}</td>
                            <td>
                                <button style="border: none;background: none;color: #337Ab7;outline:none; "
                                        type="button"
                                        class="btn btn-sm  btn-primary "
                                        ng-clock  ui-sref="backStage.teachManage.courses">
                                    <!--1草稿，2上线-->
                                    查詢
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            <div id="tab2">
                <table class="table table-striped add-table-border sheet">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>课时名称</th>
                        <th>所屬课程</th>
                        <th>等级</th>
                        <th>累计学习人数</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in vm.subject">
                        <td>{{$index+1}}</td>
                        <td>{{x.lessionName}}</td>
                        <td>{{x.lession}}</td>
                        <td>{{x.lessionId}}</td>
                        <td>{{x.taskCount}}</td>
                        <td>{{x.lock}}</td>
                        <td>
                            <button style="border: none;background: none;color: #337Ab7;outline:none; "
                                    type="button"
                                    class="btn btn-sm  btn-primary "
                                    ng-clock ui-sref="backStage.teachManage.period">
                                <!--1草稿，2上线-->
                                查詢
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="tab3">
                <table class="table table-striped add-table-border sheet">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>所屬科目</th>
                        <th>所属课程/教材</th>
                        <th>所属课时</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in vm.means">
                        <td>{{$index+1}}</td>
                        <td>{{x.subject}}</td>
                        <td>{{x.course}}</td>
                        <td>{{x.lessionPeriod}}</td>
                        <td>{{x.grade}}</td>
                        <td>
                            <button style="border: none;background: none;color: #337Ab7;outline:none; "
                                    type="button"
                                    class="btn btn-sm  btn-primary "
                                    ng-clock ui-sref="backStage.dataManage.data">
                                <!--1草稿，2上线-->
                                查詢
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
<script>
    $(document).ready(function () {
        $("#content div").hide(); // Initially hide all content
        $("#tabs li:first").attr("id", "current"); // Activate first tab
        $("#content div:first").fadeIn(); // Show first tab content

        $('#tabs a').click(function (e) {
            e.preventDefault();
            $("#content div").hide(); //Hide all content
            $("#tabs li").attr("id", ""); //Reset id's
            $(this).parent().attr("id", "current"); // Activate this
            $('#' + $(this).attr('title')).fadeIn(); // Show content for current tab
        });
    });
</script>