<div class="course_mission_total" ng-class="{'new-user-guide':true}">
    <div class="course_mission_clear-fix">
        <span class="course_drop-down course_mission_drop-down" ng-click="vm.mission_search()" ng-class="{period_mission_begin:vm.select_studyStatus === 0,period_mission_study:vm.select_studyStatus === 1,period_mission_finish:vm.select_studyStatus === 2}">{{vm.mission_selected}}
        <span class="triangle" ng-class="{a:vm.mission_isShow,b:!vm.mission_isShow}"></span>
            </span>
    </div>
    <div>
        <div class="course_dropdown-list course_dropdown-list_fixed " ng-show="vm.mission_isShow">
            <div style="height: 28vw;overflow-y: scroll;overflow-x: hidden;">
                <div>
                    <button class="course_mission_search-list" ng-repeat="task in vm.taskCount" ng-click="vm.mission_select(task)" ng-class="{period_mission_begin:task.studyStatus === 0,period_mission_study:task.studyStatus === 1,period_mission_finish:task.studyStatus === 2}" ng-disabled="vm.taskCount[$index-1].studyStatus!==2&&vm.taskCount[$index].studyStatus===0">{{task.name}}</button>
                </div>
            </div>
            <div class="course_modal-list"></div>
        </div>
    </div>
    <div class="course_mission_body">
        <div class="course_mission_mainbody">
            <div class="course_mission_stepOut" ng-class="{'course_mission_border':vm.isLast($index+1)}" ng-repeat="step in vm.a">
                <div class="course_mission_fixed">
                    <p class="course_mission_stepCount" ng-style="{background:(($index%5)|stepBackColor)}">{{$index+1}}</p>
                    <p class="course_mission_step">第{{$index+1|time}}步</p>
                    <div class="course_mission_step">
                        <div></div>
                        <div create-editoer-instance ng-model="step.text" class="rich" ng-if="step.type===4||step.type===5" disabled="disabled"></div>
                    </div>
                    <div ng-if="step.type===2||step.type===5||step.type===3" class="course_mission_step">
                        <div ng-if="step.type===2||step.type===5">
                            <button type="button" ng-click="vm.playAudio($index+1)">{{vm.audioPlay[$index]|playMusic}}</button>
                            <audio id="audio{{$index+1}}">
                                <source ng-src="{{step.url}}" type="audio/mp3">
                            </audio>
                        </div>
                        <!--<img src="image/app/videoplay.png" alt="" ng-if="vm.video&&step.type===3" style="width: 83vw;" ng-click="vm.playVideo($index+1)">-->
                        <video controls="controls" id='video{{$index+1}}' ng-src="{{step.url}}" ng-if="step.type===3" style="width:83vw;height: 0" ng-class="{mission_video:!vm.video}" webkit-playsinline="true" x-webkit-airplay="true"  playsinline="true" preload="auto" poster="" ng-click="vm.playVideo($index+1)">
                        </video>
                    </div>
                    <img ng-src="{{step.url}}" class="course_mission_step" ng-if="step.type===1">
                </div>
            </div>
            <div class="course_mission_button_box">
                <div ng-if="$root.config.isNew">
                    <div class="new-user-modal">
                        <div class="course_mission_clear-fix">
                            <span class="course_drop-down course_mission_drop-down ng-binding period_mission_finish" ng-click="vm.mission_search()" ng-class="{period_mission_begin:vm.select_studyStatus === 0,period_mission_study:vm.select_studyStatus === 1,period_mission_finish:vm.select_studyStatus === 2}">{{vm.mission_selected}}
                                <span class="triangle b" ng-class="{a:vm.mission_isShow,b:!vm.mission_isShow}"></span>
                            </span>
                        </div>
                    </div>
                    <div class="new-user-show">点击这里展开列表选择任务</div>
                    <div style="position: fixed;color: #fff;z-index: 1000;left: 10vw;">点击收起上一步</div>
                    <div style="position: fixed;color: #fff;z-index: 1000;right: 10vw;">点击展开下一步</div>
                    <div style="background: #fff;height: 10vw;position: fixed;z-index: 1000;width: 10vw;left: 37vw;border-radius: 100%;">
                        <button class="course_mission_lastStep course_mission_lastStep_fixed" ng-disabled="vm.a.length===1" ng-class="{'course_mission_lastStep_fixed':vm.a.length===1}" disabled="disabled"  style="position: relative;top: 1vw;left: 1vw;"></button>
                    </div>
                    <div style="background: #fff;height: 10vw;position: fixed;z-index: 1000;width: 10vw;left: 54vw;border-radius: 100%;">
                        <button class="course_mission_nextStep course_mission_nextStep_fixed" ng-disabled="vm.a.length === vm.steps.length" ng-class="{'course_mission_nextStep_fixed':vm.a.length === vm.steps.length}" disabled="disabled" style="position: relative;top: 1vw;"></button>
                    </div>
                    <div class="shady shady_fixed">
                        <button style="position: fixed;top: 50%;transform: translate(-50%);background: #000;color: #fff;" ng-click="vm.userSure()">我知道了</button>
                    </div>
                </div>
                <div></div>
                <div></div>
                <button class="course_mission_lastStep" ng-click="vm.reduce()" ng-disabled="vm.a.length===1" ng-class="{'course_mission_lastStep_fixed':vm.a.length===1}"></button>
                <button class="course_mission_nextStep" ng-click="vm.add()" ng-disabled="vm.a.length === vm.steps.length" ng-class="{'course_mission_nextStep_fixed':vm.a.length === vm.steps.length}"></button>
            </div>
        </div>
    </div>
    <div class="course_period_lock_modal" ng-if="vm.tip">
        <div ng-if="vm.tip">
            <div class="course_details_modal_tip">
                <div style="position:relative;">
                    <div class="course_period_closetip" ng-click="vm.close()"><img src="image/app/close.png" alt="" class="course_period_closetip"></div>
                    <div class="course_period_littleTip">小贴士</div>
                </div>
                <div style="text-align: center;width: 25vw;">{{vm.promptInformation}}</div>
                <button class="course_period_lock_button_tip" ng-click="vm.goPay()" ng-if="vm.type===2">购买</button>
            </div>
            <div  class="course_period_lock"></div>
        </div>
    </div>
    <div class="course_mission_bottom">
        <button ng-click="vm.last()" class="course_mission_select_last" ng-disabled="vm.lastMission">上个任务</button>
        <button ng-click="vm.next()" class="course_mission_select_next" ng-disabled="vm.a.length < vm.steps.length">{{vm.mission_isLast}}</button>
    </div>
</div>
