<div class="col-lg-12 col-md-12 col-sm-12 edging while">
    <h5><strong> | </strong>{{title.name}}</h5>
    <div class="within">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name">所属科目
                </label>
                <label class="col-sm-11 control-label teach_manage_top-form bottom-label" for="ds_name">数学
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name">所属课程
                </label>
                <label class="col-sm-11 control-label teach_manage_top-form bottom-label" for="ds_name">和差倍问题
                </label>
            </div>
        </form>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 edging">
        <form class="form-horizontal" role="form">
            <fieldset class="form-bottom">
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-1 control-label teach_manage_top-form " for="ds_name">课时名称</label>
                        <input id="ds_name" type="text" class="col-sm-10 teach_manage_top-form top-form-nomargin input_style" ng-disabled="show">
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name">课程简介</label>
                        <div class="teach_manage_top-form top-form-nomargin ">
                            <textarea class="col-sm-10 input_style" ng-disabled="show" ng-disabled="show"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label teach_manage_top-form " for="ds_study">学习星</label>
                        <input id="ds_study" type="text" class="col-sm-2 teach_manage_top-form top-form-nomargin input_style" ng-disabled="show" placeholder="1-5颗星">
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name">是否收费</label>
                        <div class="col-sm-11 teach_manage_top-form top-form-nomargin">
                            <input type="checkbox" ng-disabled="show" class="input_style" ng-model="lock">锁定
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 col-sm-offset-1 control-label teach_manage_top-form pad" for="ds_star">学习星解锁</label>
                        <input id="ds_star" type="text" class="col-sm-2 teach_manage_top-form top-form-nomargin input_style" ng-disabled="show||lock"><label class="control-label teach_manage_top-form">颗</label>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 col-sm-offset-1 control-label teach_manage_top-form pad" for="ds_pay">付费解锁</label>
                        <input id="ds_pay" type="text" class="col-sm-2 teach_manage_top-form top-form-nomargin input_style" ng-disabled="show||lock"><label class="control-label teach_manage_top-form">元</label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name"></label>
                    <div class="col-sm-11 fastener">
                        <button type="button" class="btn ascertain" ui-sref="backStage.teachManage.period">确定</button>
                        <button type="button" class="btn cancel" ui-sref="backStage.teachManage.period">取消</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>