<div class="col-lg-12 col-md-12 col-sm-12 edging edging-top">
    <h5><strong> | </strong>{{title.name}}</h5>
    <div class="clear-float">
        <label class="control-label label-fixed col-sm-2" for="tm_subject">科目名称</label>
        <input id="tm_subject" class="col-sm-10" ng-disabled="show" ng-model="subject_name">
    </div>
    <div class="clear-float">
        <label class="control-label label-fixed col-sm-3">类型</label>
            <label class="control-label cursor col-sm-3">
                <input type="radio" name="type" ng-checked="true" ng-disabled="show" ng-model="subject_type" value="0">自有
            </label>
            <label class="control-label cursor col-sm-3">
                <input type="radio" name="type" ng-disabled="show" ng-model="subject_type" value="1">校内
            </label>
            <label class="control-label cursor col-sm-3">
                <input type="radio" name="type" ng-disabled="show" ng-model="subject_type" value="2">合作
            </label>
    </div>
    <div class="col-sm-4 col-sm-offset-2 ">
        <button type="button" class="btn btn-primary" ng-click="subject_operation()">确定</button>
    </div>
    <div class="col-sm-4 ">
        <button type="button" class="btn btn-primary" ui-sref="backStage.teachManage.subject">取消</button>
    </div>
</div>