<div class="panel panel-default">
    <div class="panel-heading">
        <span class="user_management">I 查看资讯</span>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" disabled="none" ng-model="vm.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label">类型</label>
                        <div class="col-sm-10">
                            <select class="form-control"  disabled="none"
                                ng-model="vm.type" ng-options="c.value as c.txt for c in vm.classify">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label">封面</label>
                        <div class="col-sm-10">
                            <img ng-src="{{vm.homePicture}}" alt="" style="width: 30vw;height: 20vw">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label">摘要</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" ng-disabled="" ng-model="vm.intro"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label" >正文</label>
                        <div class="col-sm-10">
                            <div create-editoer-instance ng-model="vm.text"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-1 control-label"></label>
                        <div class="col-sm-10">
                            <label type="button" class="btn btn-success mg-top-50" ui-sref="backStage.serviceManage.check({id:vm.$stateParams.id})">编辑</label>
                            <label type="button" class="btn btn-defult mg-top-50 mg-left-30 border" ui-sref="backStage.information({page:1,size:10})">
                                返回
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>