<!--<style>-->
    <!--.sign-back{-->
        <!--background: url("../../image/mine/star.png")no-repeat;-->
        <!--background-size: 100% ;-->
    <!--}-->
    <!--.popup-content{-->
        <!--height: 125px;-->
        <!--display: flex;-->
        <!--justify-content: center;-->
        <!--align-items: center;-->
        <!--text-align: center;-->
    <!--}-->
    <!--.font{-->
        <!--font-size: 10px!important;-->
    <!--}-->
    <!--.popup-color{-->
        <!--color: #fdd431;-->
    <!--}-->
<!--</style>-->
<!--<div>-->
    <!--<div  class="popup-content sign-back font"></div>-->
    <!--<div  class="popup-content">-->
        <!--<div>-->
            <!--<h4>签到成功</h4>-->
            <!--<p>获得<span class="popup-color">3</span>个学习星</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="modal-header">提示</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="modal-body">&ndash;&gt;-->
        <!--&lt;!&ndash;<table width="100%" style="text-align: center;line-height: 50px">&ndash;&gt;-->
            <!--&lt;!&ndash;<tr ng-repeat="data in content track by $index">&ndash;&gt;-->
                <!--&lt;!&ndash;<td>{{data}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;</table>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="modal-footer"><input-->
            <!--type="button" class="btn btn-warning" ng-click="rejected()" value="取消"><input type="button"-->
                                                                                          <!--class="btn btn-success"-->
                                                                                          <!--ng-click="resolved()"-->
                                                                                          <!--value="确定"></div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->