<div class="col-lg-12 col-md-12 col-sm-12 edging while">
    <h5><strong> | </strong>{{vm.title}}</h5>
    <div class="within">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name">所属科目
                </label>
                <label class="col-sm-11 control-label teach_manage_top-form bottom-label" for="ds_name">{{vm.subjectName}}
                </label>
            </div>
        </form>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 edging">
        <form class="form-horizontal" role="form">
            <fieldset class="form-bottom">
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-1 control-label teach_manage_top-form " for="ds_name">课程名称</label>
                        <input id="ds_name" type="text" class="col-sm-11 teach_manage_top-form top-form-nomargin" ng-disabled="vm.show" ng-model="vm.course_name">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label teach_manage_top-form">年级划分</label>
                        <div class="col-sm-10">
                            <div class="col-sm-2 teach_manage_top-form">
                                <label class="cursor">
                                    <input type="radio" ng-disabled="vm.show" name="grade" ng-model="vm.course_grade" value="1" ng-checked="true">一年级
                                </label>
                            </div>
                            <div class="col-sm-2 teach_manage_top-form">
                                <label class="cursor">
                                    <input type="radio" ng-disabled="vm.show" name="grade" ng-model="vm.course_grade" value="2">二年级
                                </label>
                            </div>
                            <div class="col-sm-2 teach_manage_top-form">
                                <label class="cursor">
                                    <input type="radio" ng-disabled="vm.show" name="grade" ng-model="vm.course_grade" value="3">三年级
                                </label>
                            </div>
                            <div class="col-sm-2 teach_manage_top-form">
                                <label class="cursor">
                                    <input type="radio" ng-disabled="vm.show" name="grade" ng-model="vm.course_grade" value="4">四年级
                                </label>
                            </div>
                            <div class="col-sm-2 teach_manage_top-form">
                                <label class="cursor">
                                    <input type="radio" ng-disabled="vm.show" name="grade" ng-model="vm.course_grade" value="5">五年级
                                </label>
                            </div>
                            <div class="col-sm-2 teach_manage_top-form">
                                <label class="cursor">
                                    <input type="radio" ng-disabled="vm.show" name="grade" ng-model="vm.course_grade" value="6">六年级
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name">是否收费</label>
                        <div class="col-sm-11 teach_manage_top-form top-form-nomargin">
                            <input type="checkbox" ng-disabled="vm.show">锁定
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name">首页封面</label>
                        <div class="col-sm-11 teach_manage_top-form top-form-nomargin">
                            <img ng-src="{{vm.top_img}}" alt="无图片" ng-show="vm.show" height="100" width="100">
                            <file-upload ajax-ads="vm.ajax" img-src="vm.exportSrc.home" btn-title="上传" ng-disabled="" ng-hide="vm.show" belong="1"></file-upload>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name">列表封面</label>
                        <div class="col-sm-11 teach_manage_top-form top-form-nomargin">
                            <img ng-src="{{vm.list_img}}" alt="无图片" ng-show="vm.show" height="100" width="100">
                            <file-upload ajax-ads="vm.ajax" img-src="vm.exportSrc.list" btn-title="上传" ng-disabled="" ng-hide="vm.show" belong="1"></file-upload>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name">课程简介</label>
                        <div class="col-sm-11 teach_manage_top-form top-form-nomargin">
                            <textarea class="col-sm-10" style="min-width:100%" ng-disabled="vm.show" ng-disabled="vm.show" ng-model="vm.intro"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name">相关课程</label>
                        <div class="col-sm-11 teach_manage_top-form top-form-nomargin">
                            <div class="col-sm-2">1号栏位(上)</div>
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                    <select class="form-control" ng-disabled="vm.show" ng-options="subject.id as subject.name for subject in vm.lists" ng-model="vm.subject1" ng-change="vm.course_No1()"></select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-disabled="vm.show" ng-options="grade.id as grade.name for grade in vm.Grade" ng-model="vm.grade1" ng-change="vm.course_No1()">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-disabled="vm.show" ng-options="course.courseId as course.courseName for course in vm.course_lists1" ng-model="vm.course1">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11 col-sm-offset-1 teach_manage_top-form top-form-nomargin">
                            <div class="col-sm-2">2号栏位(中)</div>
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                    <select class="form-control" ng-disabled="vm.show"  ng-options="subject.id as subject.name for subject in vm.lists" ng-model="vm.subject2" ng-change="vm.course_No2()">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-disabled="vm.show" ng-options="grade.id as grade.name for grade in vm.Grade" ng-model="vm.grade2" ng-change="vm.course_No2()">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-disabled="vm.show" ng-options="course.courseId as course.courseName for course in vm.course_lists2" ng-model="vm.course2">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11 col-sm-offset-1 teach_manage_top-form top-form-nomargin">
                            <div class="col-sm-2">3号栏位(下)</div>
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                    <select class="form-control" ng-disabled="vm.show" ng-options="subject.id as subject.name for subject in vm.lists" ng-model="vm.subject3" ng-change="vm.course_No3()">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-disabled="vm.show" ng-options="grade.id as grade.name for grade in vm.Grade" ng-model="vm.grade3" ng-change="vm.course_No3()">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-disabled="vm.show"  ng-options="course.courseId as course.courseName for course in vm.course_lists3" ng-model="vm.course3">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name">合作机构</label>
                        <select class=" col-sm-11 top-form-nomargin teach_manage_top-form" ng-disabled="vm.show" ng-options="company.id as company.name for company in vm.companies" ng-model="vm.company">
                            <option value="" selected>无</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-1 control-label teach_manage_top-form" for="ds_name"></label>
                    <div class="col-sm-11 fastener">
                        <button type="button" class="btn ascertain" ng-click="vm.course_operation()">确定</button>
                        <button type="button" class="btn cancel" ng-click="vm.course_cancel()">取消</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>