<div class="col-lg-12 col-md-12 col-sm-12 edging while">
    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="ds_type">所属科目</label>
                <div class="col-sm-4">
                    <div class="form-control" ng-show="isShow">{{vm.subject.name}}</div>
                    <select class="form-control" id="ds_type" ng-options="subject.name for subject in vm.subjectlists" ng-model="vm.subjectName" ng-hide="isShow"></select>
                </div>
                <label class="col-sm-1 control-label" for="ds_grade">年级</label>
                <div class="col-sm-4">
                    <select class="form-control" id="ds_grade" ng-options="grade.name for grade in vm.subject_grade" ng-model="vm.grade"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="ds_subject">课程名称</label>
                <div class="col-sm-4">
                    <input class="form-control" id="ds_subject">
                </div>
                <label class="col-sm-1 control-label" for="ds_host">状态</label>
                <div class="col-sm-4">
                    <select class="form-control" id="ds_host" ng-options="status.name for status in vm.subject_status" ng-model="vm.status">
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-default pull-right" ng-click="vm.search()">查询</button>
        </fieldset>
    </form>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 edging">
    <h5><strong> | </strong>课程管理<a ng-click="vm.course_add()" class="pull-right" ng-show="isShow">新增+</a></h5>
    <table class="table table-striped gridiron edging">
        <thead>
        <tr>
            <th>序号</th>
            <th>课程名称</th>
            <th>所属科目</th>
            <th>年级</th>
            <th>累计学习人数</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="course in vm.lists">
            <td>{{$index+1}}</td>
            <td>{{course.courseName}}</td>
            <td>{{course.subject}}</td>
            <td>{{course.grade|grade}}</td>
            <td>{{course.studyNumber}}</td>
            <td>{{course.status|subject_status}}</td>
            <td>
                <a ng-click="vm.period_jump(course)">课时</a>
                <a ng-click="vm.course_view(course)">查看</a>
                <a ng-click="vm.course_edit(course)">编辑</a>
                <a>{{course.status|subject_status_operation}}</a>
                <a ng-click="vm.course_delete(course)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="its col-xs-11 pull-right text-right">
        <uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" max-size="5"
                        first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页"
                        boundary-links="true" boundary-link-numbers="true" ng-change="vm.pageGo(vm.currentPage)"></uib-pagination>
    </div>
</div>