<div class="col-lg-12 col-md-12 col-sm-12 edging while">
    <h5><strong> | </strong>{{title.name}}</h5>
    <div class="within">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-1 control-label teach_manage_top-form">所属科目
                </label>
                <label class="col-sm-11 control-label teach_manage_top-form bottom-label">数学
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label teach_manage_top-form">所属课程
                </label>
                <label class="col-sm-11 control-label teach_manage_top-form bottom-label">和差倍问题
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label teach_manage_top-form">所属课时
                </label>
                <label class="col-sm-11 control-label teach_manage_top-form bottom-label">标点符号
                </label>
            </div>
        </form>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 edging mission-fixed">
        <div>
            <form class="form-horizontal mission-fixed" role="form">
                <fieldset class="form-bottom">
                    <div class="form-group mission_fieldset col-lg-12 col-md-12 col-sm-12 control-label">
                        <label class="col-sm-1 control-label teach_manage_top-form " for="ds_name">任务名称</label>
                        <input id="ds_name" type="text" class="col-sm-10 teach_manage_top-form top-form-nomargin input_style" ng-disabled="show">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 edging while mission-fixed">
                        <h5 style="margin: 0"><strong> | </strong>步骤内容保存排序</h5>
                        <div class="mission-task-step" ng-repeat="step in mission_steps track by $index">
                            <div class="row mission_standard">
                                <div class="col-sm-1 mission_step_num">{{$index+1}}</div>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model='select' id="ds_subject" ng-options="step.name for step in vm.steps" ng-change="selected(select,$index)"></select>
                                </div>
                            </div>
                            <div class="row mission_standard">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <file-upload ajax-ads="ajaxAds" img-src="vm.img[$index].exportSrc" btn-title="上传" ng-disabled=""  img-src="src" select="select" ng-hide="select.id===2" i="i" ng-click="img_url($index)"></file-upload>
                                </div>
                            </div>
                            <div class="row mission_standard">
                                <div class="col-sm-1"></div>
                                <div create-editoer-instance ng-model="editorContent" class="col-sm-10 rich" style="max-height: 80px" ng-show="select.id===2||select.id===3" ng-change="text(editorContent,$index)"></div>
                            </div>
                        </div>
                        <div class="button-bottom" ng-click="add_step()">
                            <div class="mission_col"></div>
                            <div class="mission_row"></div>
                        </div>
                        <div class="row mission_standard">
                            <div class="col-sm-10 col-sm-offset-1 mission_fastener">
                                <button type="button" class="btn ascertain" ng-click="sure()">确定</button>
                                <button type="button" class="btn cancel" ui-sref="backStage.teachManage.mission">取消</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>