<form class="data_clear-fix" name="myForm">
    <input type="email" id="email" class="dataPay_email dataPay_email_fixed" autocomplete="off" ng-model="vm.emailAddress" name="email" required ng-maxlength="30" placeholder="请输入邮箱">
    <div for="email" class="dataPay_email dataPay_changeEmail_counter">
        <div ng-show="myForm.email.$error.required&&myForm.email.$dirty">
            邮箱不能为空
        </div>
        <div ng-show="myForm.email.$error.email&&myForm.email.$dirty">
            非法的邮箱
        </div>
    </div>
</form>
<button class="dataPay_changeEmail_finish" ng-click="vm.dataPay_changeEmail_finish()" ng-disabled="vm.emailAddress === undefined">完成</button>