<div class="panel panel-default">
    <div class="panel-heading">
        <span class="user_management">修改密碼</span>
    </div>
    <div class="panel-body">
            <div class="panel-body">
                <form class="form-horizontal" style="font-size: 12px">
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-3 col-lg-1 control-label">输入旧密码</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" value="请输入旧密码" ng-model="vm.oldPwd">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-3 col-lg-1 control-label">输入新密码</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" value="请输入新密码"  ng-model="vm.newPwd">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-3 col-lg-1 control-label">确认新密码</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" value="请再次输入新密码"  ng-model="vm.againPwd">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-3 col-lg-1 control-label"></label>
                        <div class="col-sm-4">
                            <label type="button" class="btn btn-success mg-top-50" ng-click="vm.send()">确定</label>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>