<div class="col-lg-12 col-md-12 col-sm-12 edging while">
    <h5 class="padding_bottom"><strong> | </strong>{{vm.title.name}}</h5>
    <div class="col-lg-12 col-md-12 col-sm-12 edging">
        <form class="form-horizontal" role="form">
            <fieldset class="form-bottom">
                <div class="form-group container-fluid">
                    <div class="row">
                        <label class="col-sm-1 control-label top-form">封面</label>
                        <div class="col-sm-11 top-form top-form-no-margin">
                            <img ng-src="{{vm.exportSrc}}" alt="" ng-show="vm.isShow" height="100" width="100">
                            <file-upload ajax-ads="vm.ajax" img-src="vm.exportSrc" belong="2" btn-title="上传" ng-disabled="" img-src="params.img" ng-hide="vm.isShow"></file-upload>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label top-form">教材名称</label>
                        <div class="col-sm-11 top-form top-form-no-margin">
                            <input type="input" class="min-width" ng-model="vm.datumName" ng-disabled="vm.isShow">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label top-form">教材版本</label>
                        <label class="col-sm-11 top-form top-form-no-margin">
                            <select class="form-control min-width" ng-options="press.name for press in vm.Press" ng-model="vm.press" ng-disabled="vm.isShow">
                            </select>
                        </label>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label top-form">年级</label>
                        <label class="col-sm-11 top-form top-form-no-margin">
                            <select class="form-control min-width" ng-options="class.id as class.name for class in vm.Grade" ng-model="vm.class" ng-disabled="vm.isShow">
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-1 control-label top-form"></label>
                    <div class="col-sm-11 fastener">
                        <button type="button" class="btn ascertain" ng-click="vm.submit()">确定</button>
                        <button type="button" class="btn cancel" ng-click="vm.cancel()">取消</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>