<div class="col-lg-12 col-md-12 col-sm-12 edging while">
    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="ds_type">年级</label>
                <div class="col-sm-4">
                    <div class="form-control" ng-show="vm.isShow">{{vm.book.grade|grade}}</div>
                    <select class="form-control" id="ds_type" ng-options="class.id as class.name for class in vm.Grade" ng-model="vm.grade" ng-hide="vm.isShow">
                        <option value="">全部</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" for="ds_datum">所属教材</label>
                <div class="col-sm-4">
                    <div class="form-control" ng-show="vm.isShow">{{vm.book.bookName}}</div>
                    <select class="form-control" id="ds_datum" ng-hide="vm.isShow" ng-options="datum.bookId as datum.bookName for datum in vm.Books" ng-model="vm.datum">
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="ds_subject">版本</label>
                <div class="col-sm-4">
                    <div class="form-control" ng-show="vm.isShow">{{vm.book.press}}</div>
                    <select class="form-control" id="ds_subject" ng-options="press.name as press.name for press in vm.Press" ng-model="vm.press" ng-hide="vm.isShow">
                        <option value="">全部</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" for="ds_period">课时名称</label>
                <div class="col-sm-4">
                    <input class="form-control" id="ds_period" ng-model="vm.lessonPeriodName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="ds_host">状态</label>
                <div class="col-sm-4">
                    <select class="form-control" id="ds_host" ng-options="status.id as status.name for status in vm.Status" ng-model="vm.status">
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-default pull-right" ng-click="vm.search()">查询</button>
        </fieldset>
    </form>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 edging">
    <h5><strong> | </strong>课时管理<a ng-click="vm.add()"  class="pull-right" ng-show="vm.isShow">新增+</a></h5>
    <table class="table table-striped gridiron edging">
        <thead>
        <tr>
            <th>序号</th>
            <th>课时名称</th>
            <th>年级</th>
            <th>所属教材</th>
            <th>版本</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="period in vm.Periods">
            <td>{{$index+1}}</td>
            <td>{{period.lessonPeriodName}}</td>
            <td>{{period.grade|grade}}</td>
            <td>{{period.bookName}}</td>
            <td>{{period.press}}</td>
            <td>{{period.status|subject_status}}</td>
            <td>
                <a ng-click="vm.missionJump(period)">任务</a>
                <a ui-sref="backStage.dataManage.data({add:1,page:1,size:10})">资料</a>
                <a ng-click="vm.view(period)">查看</a>
                <a ng-click="vm.edit(period)">编辑</a>
                <a>{{period.status|subject_status_operation}}</a>
                <a>删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="its col-xs-11 pull-right text-right">
        <uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" max-size="5"
                        first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页"
                        boundary-links="true" boundary-link-numbers="true" ng-click="vm.pageGo(vm.currentPage)"></uib-pagination>
    </div>
</div>