/*滚动条样式*/
@import url('./index/shake.css');
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: #317ef3;
}

::-webkit-scrollbar-button {
  height: 5px;
  background-color: #aaa;
}

.moblie-block {
  display: none;
}

html {
  font-family: 'Microsoft Yahei';
}


/*左侧导航栏*/

.menu-block {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  max-height: 100%;
  width: 250px;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, .22);
  .infofile {
    padding: 30px 0 0;
    text-align: center;
    width: 100%;
    height: 210px;
    background: #317ef3;
  }
  .info-avatar {
    width: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .moblie-block-nav {
    display: none;
  }
  .info-name {
    color: #fff;
    cursor: pointer;
    i {
      font-weight: 100;
      padding-right: 5px;
    }
  }
  .info-mail {
    color: #ddd;
    font-weight: 300;
    text-decoration: none;
  }
  .my-resume {
    line-height: 40px;
    font-size: 13px;
    /*color: #fff;*/
    text-decoration: none;
  }
  .my-link {
    border-right: 5px solid #317ef3;
  }
  .my-link a,
  .my-link span {
    cursor: pointer;
    display: block;
    padding: 8px 0 8px 30px;
    text-decoration: none;
    color: #000;
  }
  .my-link a:hover {
    background: #FCFCFC;
  }
  .my-link a i,
  .my-link span i {
    padding-right: 10px;
  }
  .home-nav {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 315px);
    border-top: 1px solid #317ef3;
  }
  .home-nav ul {
    padding: 0;
    margin: 0;
  }
  .home-nav li a {
    text-decoration: none;
    color: #000;
  }
  .home-nav li {
    list-style-type: none;
    cursor: pointer;
    padding: 8px 0 8px 30px;
    white-space: nowrap;
    transition: all 0.3s;
    &:hover {
      transition: all 0.3s;
      transform: translate(0, -5px);
    }
  }
  .home-nav>ul>li {
    border-bottom: 1px solid #ddd;
    color: #444;
    text-shadow: 2px 1px 1px #cecccc;
  }
  .home-nav li i {
    margin-right: 10px;
  } // .home-nav>ul>ul>li {
  //   padding-left: 50px;
  // }
  .home-nav>ul>ul>li:hover {
    background: #F5F5F5;
  }
  .circle-dot {
    color: #ffcd49;
  }
  .completed {
    color: #54dd70;
  }
}


/*左侧导航栏 end*/


/*主模块*/

.container {
  background: #fff;
  position: fixed;
  left: 250px;
  top: 0;
  bottom: 0;
  width: calc(100% - 290px);
  padding: 20px;
  overflow-y: auto;
}


/*
.gradient-show {
  background-image: linear-gradient(130deg, #1FA2FF, #A6FFCB)
}*/


/*loading*/

.spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: calc(50% + 150px);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  text-align: center;
}

.spinner>div {
  display: inline-block;
  width: 6px;
  height: 100%;
  background: #54dd70;
  animation: strechdelay 1.2s infinite ease-in-out;
}

.spinner .line2 {
  animation-delay: -1.1s;
}

.spinner .line3 {
  animation-delay: -1.0s;
}

.spinner .line4 {
  animation-delay: -0.9s;
}

.spinner .line5 {
  animation-delay: -0.8s;
}

@keyframes strechdelay {
  0%,
  40%,
  100% {
    transform: scaleY(.4);
  }
  20% {
    transform: scaleY(1);
  }
}


/*loading end*/

@media screen and (max-width: 500px) {
  .moblie-block {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    .moblie-block-avatar {
      width: 80px;
      border-radius: 50%;
      border: 2px solid #fff;
      box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, .22);
    }
    .moblie-block-nav {
      display: none;
      color: #fff;
    }
  }
  .menu-block {
    // display: none;
    position: fixed;
    top: -110%;
    left: 0;
    background: #fff;
    bottom: 0;
    z-index: 2;
    transition: all 0.5s;
    max-height: 100%;
    width: 100%;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, .22);
    .infofile {
      padding: 30px 0 0;
      text-align: center;
      width: 100%;
      height: 210px;
      background: #317ef3;
    }
    .info-avatar {
      width: 80px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
    .info-name {
      color: #fff;
      cursor: pointer;
    }
    .info-mail {
      color: #ddd;
      font-weight: 300;
      text-decoration: none;
    }
    .my-resume {
      line-height: 40px;
      font-size: 13px;
      /*color: #fff;*/
      text-decoration: none;
    }
    .my-link {
      border-right: 5px solid #317ef3;
    }
    .my-link a,
    .my-link span {
      cursor: pointer;
      display: block;
      padding: 8px 0 8px 30px;
      text-decoration: none;
      color: #000;
    }
    .my-link a:hover {
      background: #FCFCFC;
    }
    .my-link a i,
    .my-link span i {
      padding-right: 10px;
    }
    .home-nav {
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100% - 315px);
      border-top: 1px solid #317ef3;
    }
    .home-nav ul {
      padding: 0;
      margin: 0;
    }
    .home-nav li a {
      text-decoration: none;
      color: #000;
    }
    .home-nav li {
      list-style-type: none;
      cursor: pointer;
      padding: 8px 0 8px 30px;
      white-space: nowrap;
    }
    .home-nav>ul>li {
      border-bottom: 1px solid #ddd;
      color: #444;
      text-shadow: 2px 1px 1px #cecccc;
    }
    .home-nav li i {
      margin-right: 10px;
    } // .home-nav>ul>ul>li {
    //   padding-left: 50px;
    // }
    .home-nav>ul>ul>li:hover {
      background: #F5F5F5;
    }
    .circle-dot {
      color: #ffcd49;
    }
    .completed {
      color: #54dd70;
    }
  }
  .container {
    background: #fff;
    position: static;
    width: 100%;
    padding: 0;
  }
}