.login-head{
    height: 12.9vw;
    line-height: 12.9vw!important;
    padding-left: 2.63vw;
    background: -webkit-linear-gradient(#4a90fe, #00a5e0);
}
.login-headColor{
    position: relative !important;
    background: transparent !important;
}
/*返回按钮*/
.login-head .return{
    height: 4.16vw;
    width: 4.16vw;
    display: inline-block;
    vertical-align: -0.5vw;
}
.login-head span{
    margin-left: 8.33vw;
    font-size: 5vw;
    color: #ffffff;
}
/*搜索按钮*/
.login-head .search{
    width: 5vw;
    height: 5vw;
}