<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="periodFinish_mian_body">
    <div class="periodFinish_orange_back">
        <img ng-src="{{vm.img}}" alt="" class="periodFinish_getStar">
    </div>
    <div class="periodFinish_bottom_back">
        <div ng-if="!vm.noNextPeriod && !vm.noCourse">
            <div class="periodFinish_line_top">
                <div class="periodFinish_line"></div>
                <div class="periodFinish_youcan">相关课程</div>
            </div>
            <div style="padding-top: 10vw;">
                <div class="periodFinish_course_content" ng-repeat="course in vm.Courses" ng-click="vm.course_detail(course.id)">
                    <img ng-src="{{course.listPicture}}" class="course_main-img">
                    <div class="course_recommended" ng-show="courseList.courseRecommend === 1">
                        <img src="image/app/heat.png" class="course_recommended_img">
                    </div>
                    <h5>{{course.name}}</h5>
                    <!--<span>{{course.learnPeople}}人已学</span>-->
                    <!--<span>{{course.courseGrade|grade}}</span>-->
                </div>
            </div>
        </div>
        <div class="periodFinish_line_top">
            <div class="periodFinish_line"></div>
            <div class="periodFinish_youcan">您还可以</div>
        </div>
        <div class="periodFinish_choose_div" ng-class="{periodFinish_clear_margin:vm.noNextPeriod}">
            <div class="periodFinish_choose" ng-if="vm.showData">
                <div class="periodFinish_choose_left periodFinish_choose_public"></div>
                <div class="periodFinish_choose_center">购买配套资料</div>
                <button class="btn btn-primary periodFinish_choose_button" ng-click="vm.go_buy()">去购买</button>
            </div>
            <div class="periodFinish_choose" ng-if="vm.noNextPeriod">
                <div class="periodFinish_choose_middle periodFinish_choose_public"></div>
                <div class="periodFinish_choose_center">继续学习</div>
                <button class="btn btn-primary periodFinish_choose_button" ng-click="vm.nextPeriod()">下一课时</button>
            </div>
            <div class="periodFinish_choose">
                <div class="periodFinish_choose_right periodFinish_choose_public"></div>
                <div class="periodFinish_choose_center">回到首页</div>
                <button class="btn btn-primary periodFinish_choose_button" ng-click="vm.go_index()">回到首页</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>