<div class="col-lg-12 col-md-12 col-sm-12 edging">
    <h5><strong> | </strong>推荐课程管理<span  class="pull-right">保存排序</span></h5>
    <table class="table table-striped gridiron edging">
        <thead>
        <tr>
            <th>序号</th>
            <th>年级</th>
            <th>科目</th>
            <th>推荐课程</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>
                <a ui-sref="backStage.contentManage.groomManage({'from':1})">查看</a>
                <a ui-sref="backStage.contentManage.groomManage({'from':2})">编辑</a>
            </td>
        </tr>
        <tr>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>
                <a>查看</a>
                <a>编辑</a>
            </td>
        </tr>
        <tr>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>
                <a>查看</a>
                <a>编辑</a>
            </td>
        </tr>
        <tr>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>
                <a>查看</a>
                <a>编辑</a>
            </td>
        </tr>
        <tr>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>
                <a>查看</a>
                <a>编辑</a>
            </td>
        </tr>
        <tr>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>
                <a>查看</a>
                <a>编辑</a>
            </td>
        </tr>
        <tr>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>
                <a>查看</a>
                <a>编辑</a>
            </td>
        </tr>
        <tr>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>占位符</td>
            <td>
                <a>查看</a>
                <a>编辑</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>