<div class="course_mission_total">
    <div class="course_mission_title">例题一</div>
    <div class="course_mission_body">
        <div class="course_mission_stepOut">
            <p class="course_mission_stepCount">{{vm.step.id}}</p>
            <div class="course_mission_step">
                {{vm.step.content}}
            </div>
            <div ng-hide="vm.step.audio===undefined">
                <input type="button" value="播放" ng-click="vm.playAudio(vm.step.id)" />
                <input type="button" value="停止" ng-click="vm.stopAudio(vm.step.id)" />
                <input type="button" value="快进10秒" onclick="forward()" />
                <audio id="audio{{vm.step.id}}">
                    <source ng-src="{{vm.step.audio}}" type="audio/mp3">
                </audio>
            </div>
        </div>
        <div class="course_mission_stepOut" ng-repeat="step in vm.a">
            <p class="course_mission_stepCount">{{step.id}}</p>
            <div class="course_mission_step">
                {{step.content}}
            </div>
            <div ng-hide="step.audio===undefined">
                <input type="button" value="播放" ng-click="vm.playAudio(step.id)" />
                <input type="button" value="停止" ng-click="vm.stopAudio(step.id)" />
                <input type="button" value="快进10秒" onclick="forward()" />
                <audio id="audio{{step.id}}">
                    <source ng-src="{{step.audio}}" type="audio/mp3">
                </audio>
            </div>
            <img ng-src="{{step.img}}" class="course_mission_step">
        </div>
        <button class="main" ng-click="vm.reduce()" ng-disabled="vm.a[0]===undefined">减少</button>
        <button class="main" ng-click="vm.add()" ng-disabled="vm.a.length === vm.steps.length">增加</button>
    </div>
</div>
