<div class="course_mission_total">
    <div class="course_mission_title">例题一</div>
    <div class="course_mission_body">
        <div class="course_mission_mainbody">
            <div class="course_mission_stepOut" ng-class="{'course_mission_border':vm.isLast(step.id)}" ng-repeat="step in vm.a">
                <div class="course_mission_fixed">
                <p class="course_mission_stepCount">{{step.id}}</p>
                <p class="course_mission_step">第{{step.id|change}}步</p>
                <div class="course_mission_step">
                    {{step.content}}
                </div>
                <div ng-hide="step.audio===undefined" class="course_mission_step">
                    <input type="button" value="播放" ng-click="vm.playAudio(step.id)" />
                    <input type="button" value="停止" ng-click="vm.stopAudio(step.id)" />
                    <input type="button" value="快进10秒" onclick="forward()" />
                    <audio id="audio{{step.id}}">
                        <source ng-src="{{step.audio}}" type="audio/mp3">
                    </audio>
                </div>
                    <img ng-src="{{step.img}}" class="course_mission_step">
                </div>
            </div>
            <button class="main" ng-click="vm.reduce()" ng-disabled="vm.a.length===1">减少</button>
            <button class="main" ng-click="vm.add()" ng-disabled="vm.a.length === vm.steps.length">增加</button>
        </div>
    </div>
    <button ng-click="vm.last()" class="course_mission_select_last" ng-disabled="vm.lastMission">上个任务</button>
    <button ng-click="vm.next()" class="course_mission_select_next" ng-disabled="vm.nextMission">下个任务</button>
</div>
