<div class="course_mission_total">
    <div class="course_mission_clear-fix">
        <span class="course_drop-down course_mission_drop-down" ng-click="vm.mission_search()">{{vm.mission_selected}}</span>
    </div>
    <div>
        <div class="course_dropdown-list course_dropdown-list_fixed " ng-show="vm.mission_isShow">
            <div style="    overflow-x: hidden;height: 28vw;">
                <div style="overflow-y: scroll;">
                    <div class="course_mission_search-list" ng-repeat="task in vm.taskCount" ng-click="vm.mission_select(task)">{{task.title}}</div>
                </div>
            </div>
            <div class="course_modal-list"></div>
        </div>
    </div>
    <div class="course_mission_body">
        <div class="course_mission_mainbody">
            <div class="course_mission_stepOut" ng-class="{'course_mission_border':vm.isLast(step.id)}" ng-repeat="step in vm.a">
                <div class="course_mission_fixed">
                    <p class="course_mission_stepCount">{{step.id}}</p>
                    <p class="course_mission_step">第{{step.id|change}}步</p>
                    <div class="course_mission_step">
                        {{step.content}}
                    </div>
                    <div ng-hide="step.audio===undefined" class="course_mission_step">
                        <button type="button" ng-click="vm.playAudio(step.id)">{{vm.audioPlay[step.id-1]|playMusic}}</button>
                        <input type="button" value="快进10秒" onclick="forward()" />
                        <audio id="audio{{step.id}}">
                            <source ng-src="{{step.audio}}" type="audio/mp3">
                        </audio>
                    </div>
                    <img ng-src="{{step.img}}" class="course_mission_step">
                </div>
            </div>
            <div class="course_mission_button_box">
                <button class="course_mission_lastStep" ng-click="vm.reduce()" ng-disabled="vm.a.length===1" ng-class="{'course_mission_lastStep_fixed':vm.a.length===1}"></button>
                <button class="course_mission_nextStep" ng-click="vm.add()" ng-disabled="vm.a.length === vm.steps.length" ng-class="{'course_mission_nextStep_fixed':vm.a.length === vm.steps.length}"></button>
            </div>
        </div>
    </div>
    <div class="course_mission_bottom">
        <button ng-click="vm.last()" class="course_mission_select_last" ng-disabled="vm.lastMission">上个任务</button>
        <button ng-click="vm.next()" class="course_mission_select_next" ng-disabled="vm.a.length < vm.steps.length">{{vm.mission_isLast}}</button>
    </div>
</div>
